<div class="left-nav-bar" id="left-nav-bar">
	<div class="left-nav-slider">
		<dl class="nav-tab-list">
			<dt>
				<a href="{:url('/User/index','','')}"><i class="fa fa-shield fa-lg mr10"></i>{:lang('SAFE')}</a>
			</dt>
			<dt class="nav-tab-hover hover1"></dt>
			<dd class="user_index">
				<a href="{:url('/User/index','','')}"> <i class="fa fa-diamond fa-lg fa-fw mr5"></i> <span>{:lang('ACCOUNT_INFO')}</span>  </a>
			</dd>
			<dd class="user_truename">
				<a href="{:url('/User/nameauth','','')}"> <i class="fa fa-list-alt fa-lg fa-fw mr5"></i> <span>{:lang('REAL_NAME_VERIFY')}</span> </a>
			</dd>
			<dd class="user_password">
				<a href="{:url('/User/password','','')}"> <i class="fa fa-unlock-alt fa-lg fa-fw mr5"></i> <span>{:lang('LOGIN_PWD')}</span>  </a>
			</dd>
			<dd class="user_paypassword">
				<a href="{:url('/User/paypassword','','')}"> <i class="fa fa-key fa-lg fa-fw mr5"></i> <span>{:lang('TRAN_PWD')}</span></a>
			</dd>
			<dd class="user_moble">
				<a href="{:url('/User/moble','','')}"> <i class="fa fa-tablet fa-lg fa-fw mr5"></i> <span>{:lang('MOBILE_AUTHENTICATION')}</span> </a>
			</dd>
			<dd class="user_log">
				<a href="{:url('/User/log','','')}"> <i class="fa fa-search fa-lg fa-fw mr5"></i> <span>{:lang('SECURIYYLOGS')}</span>  </a>
			</dd>
		</dl>
	</div>
</div>