{include file="Public:header" /}

<div class="autobox">
	<div class="now">
		<i class="fa fa-home fa-lg move mr5"></i>
		<a href="/" class="">{:lang('ADDRESS')} </a> &gt;
		<a href="/user/index.html" class="">{:lang('SAFE')} </a> &gt;{:lang('TRAN_PWD')}
		</div>
	<div class="main-content">

{include file="User:left" /}




		<div class="tag-list-content assets_content bg_w">
			<div class="safe_center clear">
				<h1>
					<span>{:lang('TRAN_PWD')}</span>
                    <span>
                        <a onclick="step1();" id="step1" class="step fz_12 ml50 pd6 active">{:lang('MODIFY_TRAN_PSW')}</a>
                        <a onclick="step2();" id="step2" class="step fz_12 ml20 pd6">{:lang('SET_AUTH_MODE')}</a>
                    </span>
				</h1>
			</div>
			<div id="hints" class="mytips" style="display:none;">
				{notempty name="prompt_text"}
					<p>{$prompt_text}</p>		
				{/notempty}
			</div>
			<div class="mytable-body  ">
				<div class="step1 pwtrade">
					<p class="move" style="padding-left:230px;margin:85px 0 10px">{:lang('TRAN_PWD_CHANGE_REGULAR')}</p>
					<dl>
						<dt>{:lang('TRAN_PWD_OLD')}：</dt>
						<dd>
							<input type="password" tabindex="1" id="oldpaypassword" class="texts"><a href="/Findpwd/findpwd" class="move ml5">{:lang('FORGET')}?</a>
						</dd>
					</dl>
					<dl>
						<dt>{:lang('TRAN_PWD_NEW')}：</dt>
						<dd>
							<input type="password" tabindex="2" id="newpaypassword" class="texts">
						</dd>
					</dl>
					<dl>
						<dt>{:lang('TRAN_PWD_CONFIRM')}：</dt>
						<dd>
							<input type="password" tabindex="3" id="repaypassword" class="texts">
						</dd>
					</dl>
					<dl>
						<dt></dt>
						<dd>
							<input type="button" tabindex="4" value="{:lang('SAVE')}" onclick="paypassword_up()">
						</dd>
					</dl>
					
				</div>
				<div class="step2 set_verify" style="display:none;margin-top:85px;">
					<ul>
						<li>{:lang('SET_AUTH_MODE')}:</li>
						<li>
							<input type="radio" name="tpwdsetting" value="1" style="vertical-align: -2px;"
							{eq name="user['tpwdsetting']" value="1"}checked="checked"{/eq}
							> {:lang('TRAN_PWD_ONCE')}						</li>
						<li>
							<input type="radio" name="tpwdsetting" value="2" style="vertical-align: -2px;"
							{eq name="user['tpwdsetting']" value="2"}checked="checked"{/eq}
							> {:lang('TRAN_PWD_EVERY')}						</li>
						<li>
							<input type="radio" name="tpwdsetting" value="3" style="vertical-align: -2px;"
							{eq name="user['tpwdsetting']" value="3"}checked="checked"{/eq}
							> {:lang('TRAN_PWD_NONE')}						</li>
						<li>
							<div class="mt10 mb10 ">
								<input id="paypassword" style="width: 260px;" placeholder="{:lang('TRAN_PWD_ENTER')}" type="password" class="texts"><a href="/Findpwd/findpwd" class="move ml5">{:lang('FORGET')}?</a>
							</div>
						</li>
						<li>
							<div class="mt20 mb10 ">
								<input class="btns2" value="{:lang('SAVE')}" type="button" onclick="paypassword_set()">
							</div>
						</li>
					</ul>
					
				</div>
			</div>
		</div>
	</div>
</div>



<script>
	function step1() {
		$(".step").removeClass('active');
		$('#step1').addClass('active');
		$(".step2").hide();
		$(".step1").show();
	}
	function paypassword_up() {
		var oldpaypassword = $('#oldpaypassword').val();
		var newpaypassword = $('#newpaypassword').val();
		var repaypassword  = $('#repaypassword').val();

		if (oldpaypassword == '' || oldpaypassword == null) {
			layer.tips("{:lang('TRAN_PWD_OLD_ENTER')}", '#oldpaypassword', {tips: 3});
			return false;
		}
		if (newpaypassword == '' || newpaypassword == null) {
			layer.tips("{:lang('TRAN_PWD_NEW_ENTER')}", '#newpaypassword', {tips: 3});
			return false;
		}
		if (repaypassword == '' || repaypassword != newpaypassword) {
			layer.tips("{:lang('TRAN_PWD_CONFIRM_ENTER')}", '#repaypassword', {tips: 3});
			return false;
		}

		$.post("/user/uppaypassword_qq", {
			oldpaypassword: oldpaypassword,
			newpaypassword: newpaypassword,
			repaypassword : repaypassword,
			type:1
		}, function (data) {
			if (data.status == 1) {
				layer.msg(data.msg, {icon: 1});
				if (data.url) {
					window.location = data.url;
				} else {
					window.location.reload();
				}
			} else {
				layer.msg(data.msg, {icon: 2});
				if (data.url) {
					window.location = data.url;
				}
			}
		}, "json");
	}
</script>
<script>
	function step2() {
		$(".step").removeClass('active');
		$('#step2').addClass('active');
		$(".step1").hide();
		$(".step2").show();
	}

	function paypassword_set() {
		var paypassword = $("#paypassword").val();
		var tpwdsetting = $("input[name='tpwdsetting']:checked").val();
		if (paypassword == "" || paypassword == null) {
			layer.tips("{:lang('TRAN_PWD_ENTER')}", '#paypassword', {tips: 3});
			return false;
		}
		if (tpwdsetting == "" || tpwdsetting == null) {
			layer.tips("{:lang('SELECT_ONE')}", '#tpwdsetting', {tips: 3});
			return false;
		}

		$.post("{:url('/user/uptpwdsetting','','')}", {
			paypassword: paypassword,
			tpwdsetting: tpwdsetting,
			type:2

		}, function (data) {
			if (data.status == 1) {
				layer.msg(data.msg, {icon: 1});
				if (data.url) {
					window.location = data.url;
				} else {
					window.location.reload();
				}
			} else {
				layer.msg(data.msg, {icon: 2});
				if (data.url) {
					window.location = data.url;
				}
			}
		}, "json");
	}
</script>
<script>
	$('.user_paypassword').addClass('active');
</script>

<script>
	var hints = "0";
	if(hints == 1){
		$('#hints').show();
	}
</script>

<script>
	if ($("#user_box").length > 0) {
		$('#user_box').addClass('active');
	} else {
		$('#index_box').addClass('active');
	}
</script>
<script>
	$('.finan_index').addClass('active');
</script>
{include file="Public:footer" /}





