@import "../../config.scss";
@import "../../color.scss";
// 响应式
// @import "./user_candy_767.scss";
.user_index_dom {
  width: 100%;
}
.dis_btn {
  color:  $white100;
  background: $gray350;
}
// @media screen and(min-width: $superScreenMin) {
  .candy_pc_hide {
    display: none;
  }
  .user_index {
    padding: 0 50px 0 40px;
    background: $gray200;
    margin-top: 15px;
  }
  .user_pan {
    line-height: 30px;
    font-size: 14px;
    .user_gt {
      display: inline-block;
      margin: 0 6px;
    }
  }
  .candy_choose {
    display: flex;
    justify-content: flex-start;
    padding-left: 38px;
    margin-top: 18px;
    margin-bottom: 20px;
    height: 70px;
    box-shadow: 0px 0px 5px $gray200;
    background: $white100;
    .candy_label {
      display: inline-block;
      flex-shrink: 0;
      font-size: 14px;
      line-height: 70px;
    }
    .candy_tabs {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 10px;
      flex-shrink: 1;
      .candy_li {
        padding: 0 15px;
        height: 24px;
        line-height: 24px;
        border:1px solid transparent;
        border-radius: 2px;
        font-size: 14px;
        cursor: pointer;
      }
      .candy_active_li {
        background: $yellow500;
        border:1px solid $yellow500;
        border-radius: 2px;
        color: $white100;
      }
    }
  }
  .table_btn {
    width: 50px;
    height: 24px;
    line-height: 24px;
    background: $blue500;
    color: $white100;
  }
  .user_tabs_div {
    height: 608px;
  }
table {
	span{position: relative;cursor: pointer;
		i{color:$white100;padding:0 5px 0 10px;display:none;
			position: absolute;right: -70%;transform: translate(52%);font-style: normal;
		&::after{content:'';position:absolute;left:0;top:0;width:100%;height:100%;
			background:url("/imgs/titleBg.png") no-repeat center;
			background-size:100%;z-index:-1;
		}
		}
		&:hover i{display:inline-block;}
	}
}
.minBtn{padding:5px 8px;color:$white100;border-radius:3px;}
.activeBg{background:$activeRed;}
.bg666{background:$gray400!important;}
// }





// @import "./index.scss";
.out-table {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.coin-in-table {
  min-height: 300px;
  height: 100%;
}
.container_page .pageSplie li {
  a {
    box-sizing: border-box;
  }
  &.last_page {
    min-width: 38px;
    width: auto;
  }
}
.dialog-box-contain {
  .dialog-box-content {
    .form-tab {
      .coin-out-sp {
        width:auto;
      }
    }
    padding: 0 66px;
    .shot-tab {
      width: 331px;
    }
    .coin-out-form {
      .dot-line {
        bottom: 140px;
      }
    }
  }
}


.tabsPages{
  margin-top: 30px;
  &.page-list-contain {
    flex-shrink: 0;
    height: 40px;
  }
}
.fee{color:$lightGreen500}
.fees{color:$red500}


