@import "../nStyle/config.scss";

.progressive {
  // position: relative;
  // display: block;
  overflow: hidden;

  img {
    // display: block;
    // width: 100%;
    // max-width: 100%;
    // height: auto;
    // height: 100%;
    min-height: 100%;
    border: 0 none;

    &.preview {
      filter: blur(2vw);
      // transform: scale(1.05);
    }
    &.hide {
      opacity: 0;
    }
    &.origin {
      // position: absolute;
      // left: 0;
      // top: 0;

      animation: origin 1.5s ease-out;
    }
    &.origin-scale {
      // position: absolute;
      // left: 0;
      // top: 0;
      animation: origin-scale 1s ease-out
    }
  }
}

@media screen and (max-width: $bigScreenMax) {
  .progressive img {
    // width: 100%;
    height: 100%;
    min-height: 100%;
  }
}
//  > 1200
@media screen and (min-width: $superScreenMin) {
  .progressive img {
    // width: 100%;
    height: 100%;
  }
}
@keyframes origin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes origin-scale {
  0% {
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(1.1);
  }
  100% {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0) scale(1);
  }
}
