<div class="left-nav-bar" id="left-nav-bar">
	<div class="left-nav-slider">
		<dl class="nav-tab-list">
			<dt>
				<a href="/Finance/index.html" class="fa fa-support">{:lang('FINANCE')}</a>
			</dt>
			<dt class="nav-tab-hover hover1"></dt>
			<dd class="finan_index">
				<a href="/Finance/index" class="fa fa-tasks">{:lang('FINANCE_MY')}  </a>
			</dd>

			<dd class="mycz">
				<a href="/Finance/mycz" class="iconfont icon-seting">{:lang('RECHARGE')} </a>
			</dd>
			<dd class="c2c_D">
				<a href="/Finance/bank" class="iconfont icon-seting">c2c交易设置<!--  {:lang('RECHARGE')}  --></a>
			</dd>
			<dd class="finan_invit">
				<a href="/Finance/mytj" class="fa fa-users">{:lang('INVITE_FRIENDS')}  </a>
			</dd>
		
			<dd class="finan_mywt">
				<a href="/Finance/mywt" class="iconfont icon-icon">交易订单查询 </a>
			</dd>
			<dd class="finan_awardd">
					<!-- {:lang('REWARDS')}   -->
				<a href="/Finance/myawardifc" class="fa fa-archive">用户奖励</a>
			</dd>
				<!-- 手续费分红 -->
			<dd class="finan_mybonus">
				<a href="/Finance/fenhong" class="fa fa-dollar">{:lang('MYBONUS')}</a>
			</dd>
			<dd class="finan_myfww">
				<a href="/Activity/mywc" class="fa fa-dollar">每日利息</a>
			</dd>
			<dd class="finan_myInherit">
				<a href="/Finance/myInherit" class="iconfont icon-inherit">继承权益</a>
			</dd>
		</dl>
	</div>
</div>
<style>
	.nav-tab-list dt>a{line-height:32px!important}
	.nav-tab-list a{font-size:14px;}
	.nav-tab-list a::before{display:block;text-shadow: 0px 0 18px #fff;font-size:20px;margin:20px 0 5px;font-weight:bold;}
</style>
<link rel="stylesheet" href="/comfile/font/iconfont.css">