{include file="Public:header" /}

<script type="text/javascript" src="/comfile/js/cityselect.js"></script>

<style>
	.yb-add,.yb-item{
		min-width:215px;
		margin:6px;
		height:130px;
		border-radius:8px;
		background-position:-10px -355px;
		display:inline-block;vertical-align:top;
		cursor:pointer;
	}
	.ydt-bank .yb-list-window{
		padding:10px 18px;
		position:relative;
		z-index:2;
		overflow:hidden;
	}
	.yb-ico-add{
		width:16px;
		height:16px;
		margin:50px auto 10px;
		background-position:-100px -10px;
	}
	.ydt-title .yt-ico-arrow,
	.ydt-bank .yb-arrows .yb-ico-left,
	.ydt-bank .yb-arrows .yb-ico-right,
	.ydt-bank .yb-list .yb-item .yb-info,
	.ydt-bank .yb-list .yb-item .yb-ico-up,
	.ydt-bank .yb-add,
	.ydt-bank .yb-add .yb-ico-add,
	.ico-up{
		background-image:url('/comfile/images/index_sprites_24.png');
		_background-image:url('/comfile/images/index_sprites_24.png');
		background-repeat:no-repeat;
	}
	.ydt-bank .yb-add .yb-txt{
		text-align:center;
	}
	.ydt-bank .yb-list .yb-item.current .yb-info{
		background-position:-10px -200px;
	}
	.ydt-bank .yb-list .yb-item .yb-info{
		width:215px;
		background-position:-10px -40px;
		cursor:pointer;
		background: #f5f5f5;
		border-radius: 8px;
	}
	.ydt-bank .yb-list .yb-item .yb-num{
		display:block;
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
		color:#dc5d5d;
		font-size:20px;
		width:100%;
		padding:25px 15px 14px;
		white-space:nowrap;
	}
	.ydt-bank .yb-list .yb-item .yb-links .yb-link{
		line-height:0px;
	}
	/*a:hover{*/
		/*color:#6CD9FF;*/
	/*}*/
	.ydt-bank .yb-list .yb-item .yb-links .yb-split{
		width:1px;
		padding-right:-1px;
		height:13px;
		float:left;
		/*background-color:#D1D1D1;*/
		margin:-6px 27px 10px;
	}
	.ydt-bank .yb-arrows{
		position:absolute;
		width:100%;
		height:18px;
		top:82px;
	}
	.ydt-bank .yb-arrows .yb-ico-left{
		left:0;
	}
	.ydt-bank .yb-arrows .yb-ico-right{
		right:0;
	}
	.ydt-bank .yb-arrows div{
		position:absolute;
		display:inline-block;
		_display:inline;
		*display:inline;
		zoom:1;
		width:10px;
		height:18px;
		cursor:pointer;
	}
	.yb-item.current .yb-links{
		display:block;
	}
	.yb-item .yb-links{
		width:191px;
		margin:0 auto;
		padding-top:21px;
		display:none;
	}
	.yb-name div{
		float:left;
	}
	.banke{
		margin-top:19px;
		margin-left:15px;
		width:60px;
		overflow:hidden;
	}
	.chuxu{
		margin-top:-16px;
		margin-left:98px;
	}
	.yb-info{
		float:left;
	}
	.yb-item{
		word-wrap:break-word;
		word-break:break-all;
	}
	
	.zhuanru{
		color:#dc5d5d;
	}
	.zhuanchu{
		color:#dc5d5d;
	}
	.jiebang{
		color:#dc5d5d;
	}
	.img_name{
		margin-left:11px;
		margin-top:10px;
	}
	.name{
		display:block;
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
		width:73px;
		margin-left:20px;
		margin-top:16px;
	}
	.layui-layer-input{min-width:200px;background:#eee;}
</style>

<div class="autobox ">
	<div class="now">
		<i class="fa fa-home fa-lg move mr5"></i><a href="/" class="movesay">{:lang('ADDRESS')}</a> &gt; <a href="/Finance/index" class="movesay">{:lang('FINANCE')} </a> &gt; {:lang('WITHDRAWAL_ADD')}	</div>
	<div class="main-content">

{include file="Finance:left" /}

		<div class="tag-list-content assets_content bg_w">
			<div class="safe_center clear">
				<h1>
					<span>{:lang('WITHDRAWAL_ADD')}</span>
	 <span>
		 <a href="/Finance/myzc" class="step fz_12 ml50 pd6 ">{:lang('WITHDRAWAL_DIGI_ASSET')}</a>
		 <a href="/Finance/coinoutlog" class="step fz_12 ml20 pd6 ">{:lang('WITHDRAWAL_RECORDS')}</a>
		 <a href="/Finance/qianbao" class="step fz_12 ml20 pd6 active">{:lang('WITHDRAWAL_ADD_LIST')}</a>
	 </span>
				</h1>
			</div>
			<div id="hints" class="mytips" style="display:none;">
				<p>
				{notempty name="prompt_text"}
					{$prompt_text}
				{/notempty}
				</p>
			</div>
			<div class="mytable-body ">
				<div class="f_body  step2">
					<table class="f_table" id="investLog_content">
						<thead>
						<tr>
							<th style="width: 150px;text-align: left;padding-left: 10px;">
								<select name="type">
									<option value="">--{:lang('ALL_CURRENCIES')}--</option>
									{volist name="coin_list" id="vo"}
										{eq name="xnb" value="$key"}
											<option value="{$vo['name']}" selected="selected">{$vo.title} ({$vo['name']|strtoupper})</option>
											{else/}
											<option value="{$vo['name']}">{$vo.title} ({$vo['name']|strtoupper})</option>
										{/eq}
									{/volist}
								 </select>
							</th>
						</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
			<div class="ydt-bank">
				<div class="yb-list-window">
					<div class="yb-list-wapper">
						<div id="bank_wrap" data-marginleft="979" data-on-cls="current" data-page-num="4" class="yb-list">
							<div class="yb-add js-add-bank-card js-bank-index-0" onclick="showA()">
								<a href="javascript:void(0)">
									<div class="yb-ico-add"></div>
								</a>
								<div class="yb-txt">{:lang('ADD_WALLET')}</div>
						</div>
						{volist name="userQianbaoList" id="vo"}
							<div class="yb-item  js-bank-item js-bank-index-1 current" id="item_bank" data-serial="">
								<div class="yb-info">
									<div class="yb-name">
										<div class="img_name">
											<img src="__DOMAIN__/Upload/coin/{$coin_list[$vo['coinname']]['img']}" class="mr5" style="margin-bottom: -5px; width: 22px;"/>
											{$coin_list[$vo['coinname']]['title']}({$vo.coinname})
										</div>
									<div class="name">{$vo.name}</div>
								</div>
								<div class="yb-num " onclick="show_addr('{$vo.addr}')">{$vo.addr}</div>
								<div class="yb-links clearfix">
								<div class="js-bank-opt">
				                <span id="cur_bank_opt">
		                			<div class="yb-link">
			                			<a href="/finance/myzr" class="js-opt @BANKCARD.FUN_C@" data-fun="C"><span class="zhuanru">{:lang('WALLET_DEPOSIT')}</span></a>
		                			</div>
		                			<span class="yb-split"></span>
		               				 <div class="yb-link"><a href="/finance/myzc" class="js-opt @BANKCARD.FUN_Pay@" data-fun="Pay"><span class="zhuanchu">{:lang('WALLET_WITHDRAWAL')}</span></a>
		                			</div>
		            			</span> <span class="yb-split"></span>
												<div class="yb-link">
													<a href="javascript:void(0)" style="float:right;" data-align="{$vo.id}" onclick="del(this)" class="selected @BANKCARD.CHANGESTATUS@ js-cur-status-switch" data-open="<span>{:lang('CLOSE')}</span>" data-close="<span>{:lang('ENABLE')}</span>" data-active="<span>{:lang('ACTIVATION')}</span>"><span class="jiebang">{:lang('UNBUNDLING')}</span></a>
												</div>
											</div>
										</div>
									</div>
								</div>
						{/volist}

						</div>
						<div class="pages">{$userQianbaoList->render()}</div>
					</div>
				</div>
				<div class="yb-arrows">
					<div id="bank_pre_btn" class="yb-ico-left i-hide"></div>
					<div id="bank_next_btn" class="yb-ico-right i-hide"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="all_mask_loginbox tx_loginbox" id="step1" style="display: none;">
	<div class="login_title pl20">{:lang('ADD_A_WALLET')}</div>
	<form id="form-login" class="mask_wrap login-fb">
		<div class="login_text zin80">
			<div class="mask_wrap_title">{:lang('CURRENCIES_NAME')}：</div>
			<select name="bank" id="qianbao_coinname" class="texts">
				<option value="" selected="selected">--{:lang('COIN_TYPE_SELECT')}--</option>
					{volist name="coin_list" id="vo"}

							<option value="{$vo['name']}">{$vo.title} ({$vo['name']|strtoupper})</option>

					{/volist}
				 </select>
		</div>
		<div class="login_text zin80">
			<div class="mask_wrap_title">{:lang('WALLET_IDENTIFY')}：</div>
			<input id="qianbao_name" class="texts" type="text">
		</div>
		<div class="login_text zin80">
			<div class="mask_wrap_title">{:lang('WALLET_ADD')}：</div>
			<input id="qianbao_addr" class="texts" type="text">
		</div>
		<div class="login_text zin80">
			<div class="mask_wrap_title">{:lang('TRAN_PWD')}：</div>
			<input id="qianbao_paypassword" class="texts" type="password"><a href="/findpwd/findpwd" class="move ml5">{:lang('FORGET')}?</a>
		</div>
		<div class="login_button">
			<input type="button" class="btns2" value="{:lang('ADD_WALLET_ADDRESS_NOW')}" onclick="qianbao_up();">
		</div>
	</form>
	<div class="mask_wrap_close " onclick="showB()"><i class="fa fa-close fa-2x move"></i></div>
</div>
<div id="step2" class="all_mask" style="height: 0px;display: none;"></div>
<script>
	$("#coinnam-select").val("{$xnb}");
	$("#coinnam-select").change(function () {
		var coinname = $("#coinnam-select option:selected").val();
		var url      = '/finance/qianbao';
		if (coinname) {
			url += '/coin/' + coinname;
		}
		window.location = url;
	});
	function show_addr(addr) {
		layer.alert(addr, {title: "{:lang('UR_WALLET_ADD')}"});
	}
	function del(o) {
		var id = $(o).attr('data-align');
		layer.config({
			extend: 'extend/layer.ext.js'
		});
		layer.ready(function () {
			layer.prompt({
				title: '{:lang(\'TRAN_PWD_AND_CONFIRM\')}',
				formType: 1
			}, function (val) {
				if (val) {
					$.post("{:url('User/delqianbao')}", {
						id: id,
						paypassword: val
					}, function (data) {
						if (data.code == 1) {
							layer.msg(data.msg, {icon: 1});
							location.reload();
						} else {
							layer.msg(data.msg, {icon: 2});
							if (data.url) {
								window.location = data.url;
							}
						}
					}, "json");
				}
				;
			});
		});
	}
	$(function () {
		var height = $(document).height();
		if (height < 1000) {
			height = 1000;
		}
		$('#step2').height(height);
	});
	function showA() {
		$("#step1").show();
		$("#step2").show();
	}
	function showB() {
		$("#step1").hide();
		$("#step2").hide();
	}
	function qianbao_up() {
		var coinname    = $("#qianbao_coinname option:selected").val();
		var name        = $('#qianbao_name').val();
		var addr        = $('#qianbao_addr').val();
		var paypassword = $('#qianbao_paypassword').val();
		if (coinname == "" || coinname == null) {
			layer.tips('{:lang("COIN_TYPE_SELECT")}', '#qianbao_coinname', {tips: 2});
			return false;
		}
		if (name == "" || name == null) {
			layer.tips('{:lang("ENTER_WALLET_IDENTIFY")}', '#qianbao_name', {tips: 2});
			return false;
		}
		if (addr == "" || addr == null) {
			layer.tips('{:lang("ENTER_WALLET_ADD")}', '#qianbao_addr', {tips: 2});
			return false;
		}
		if (paypassword == "" || paypassword == null) {
			layer.tips('{:lang("TRAN_PWD_ENTER")}', '#qianbao_paypassword', {tips: 2});
			return false;
		}
		$.post("{:url('/User/upqianbao','','')}", {
			coin: coinname,
			name: name,
			addr: addr,
			paypassword: paypassword
		}, function (data) {
			if (data.code == 1) {
				layer.msg(data.msg, {icon: 1});
				location.reload();
			} else {
				layer.msg(data.msg, {icon: 2});
				if (data.url) {
					window.location = data.url;
				}
			}
		}, "json");
	}
</script>

<script>
	var hints = "0";
	if(hints == 1){
		$('#hints').show();
	}
	$('#finance_box').addClass('active');
	$('.finan_coinout').addClass('active');
</script>

{include file="Public:footer" /}

