.nav-list {
  img{
    margin-top: 121px;
    margin-left: 15%;
  }
  p {
    font-size: 20px;
    margin-left:18%;
    color:#999999;
  }
  a {
    display:block;
    width:90%;
    background: #4268b3;
    color:#fff;
    text-align: center;
    height: 40px;
    margin: 5%;
    line-height: 38px;
    font-size: 20px;
  }
}
