@import "../config.scss";
@import "../color.scss";
// @import "./nav_750.scss";
// 手机屏幕 小于 767px
// @import "./nav_767.scss";
// 980px ~ 1190px; 使用px
// @import "./nav_980.scss";


// 平板 768px ~ 979px
.nav_contain {
  .a_mask {
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 3;
    height: 100%;
    background: transparent;
  }
  // opacity: 0.8;
  background: rgba(14,25,43, 0.9);
  // background: rgba(14,25,43, 1);
  border-bottom: 1px solid #212C3F;
}
  .app_down_font {
    color: #A2ABB8;
  }
  .app_p {
    line-height: 32px;
  }
// 1200px 以上 使用px
// @media screen and(min-width: $superScreenMin) {
  // .ctrl_icon {
  //   height: 22px;
  //   line-height: 22px!important;
  // }
  .nav_flag {
    width: 34px;
    height: 22px;
    border-radius: 4px;
  }

  .nav_contain {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    min-width: 1200px;
    z-index: 10;
    padding: 0 30px;
    height: 70px;
    .now_nav{
      background: #1D2739;
      color: $white100;
    }
    .main_link {
      display:inline-block;
      vertical-align: middle;
      width:140px;
      padding-right:15px;
    }
    li{
        height:100%;
        cursor: pointer;
    }
    .nav_left{
      line-height:70px;
      a {
        font-size:16px;
        color: $white100;
        padding:0 20px;
        box-sizing:border-box;
        display:inline-block;height:100%;
        &:hover{text-decoration:none;}
        img{padding:24px 0;}
      }
    }
    .nav_right {
      height:100%;
      font-size: 12px;
      li {
          margin-right: 10px;
        }
      a {
        display: inline-block;
        padding: 5px 10px;
        font-size: 12px;
        width: 100%;
        text-align: center;
      }
      .user_part,.more_tr {
        padding:0 10px;
      .user_part {
        margin-left: 30px;
        &:hover {
          &>a {
            color: $red500;
          }
        }
      }
      .user_icon_person {
        display: inline-block;
        width: 28px;
        height: 20px;
        background: url('../../assets/account.png') no-repeat;
        background-size:18px 19px;
      }
      // .user_icon:before {
      //   position: absolute;
      //   left: -28px;
      //   top: 0;
      //   font-size: 24px;
      // }
    }
    .menu_btn, .page_title {
      display: none;
    }

    .c_to_c_link {

      &:hover {
        .c_to_c {
          display: block;
          transition: all .3s;
        }
      }
    }
  }
  .c_to_c {
    display: none;
    position: absolute;
    left: 40px;
    top: 36px;
    width: 280px;
    height: 140px;
    border-radius: 8px;
    font-size: 12px;
    // overflow: hidden;
    transform: translateX(-50%);
    background-color: rgba(0,0,0, .17);

    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      top: -12px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-bottom-color: rgba(0, 0, 0, .17);
    }

    &>p {
      line-height: 16px;
      height: 16px;
      padding: 20px 0;
      text-align: center;
    }

    .line_mid {
      position: relative;
      height: 12px;
      text-align: center;
      opacity: .2;
      line-height: 12px;
      &:before, &:after {
        content: "";
        display: block;;
        position: absolute;
        top: 8px;
        width: 87px;
        border-top: 1px solid rgba(255,255,255, .2);
      }
      &:before {
        left: 0;
      }
      &:after {
        right: 0;
      }
    }
    .pay_type {
      justify-content: space-around;
      height: 76px;
      opacity: .17;
    }
  }
  .row_menu_contain {
    display: none!important;
  }
  .user_account_contain {
    position: absolute;
    top: 80px;
    right: 0;
    z-index: 5;
    width: 100%;
    background-color: #212C3F;
    box-shadow: 6px 0px 4px rgba(9,16,29,0.2);
    &:before {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      background: #212C3F;
      top: -5px;
      left: 50%;
      transform: translate(-50%, 0) rotate(45deg);
    }
    &.user_account_flag {
      width: auto;
      min-width: 100%
    }

    li {
      width: 100%;
      a {
        box-sizing: border-box;
        display: block;
        line-height: 42px;
        height: 42px;
        width: 100%;
        white-space: nowrap;
        font-size: 12px;
        text-align: left;
        transition: all .3s;

        &.accout_a {
          padding: 0 25px 0 56px;
        }
        &.flag_a {
          padding: 0 6px;
        }
        &:before {
          margin-right: 5px;
        }

        &:hover {
          // color: $orange500;
          color: $white100;
          background-color: #1D2739;
          transition: all .3s;
        }
      }
      a.er_app {
        display: flex;
        height: 100%;
        width: 100%;
        padding: 0;
      }
      .nav_flag {
        margin-right: 13px;
        vertical-align: text-top;
        border-radius: 4px;
      }
      .hover_click {
        // color: $orange500;
        color: $white100;
        background-color: #1D2739;
        transition: all .3s;
      }
    }
    .account_list {
      background: url('../../assets/wallet.png') no-repeat 25px center;
      background-size: 16px;
    }
    .logout_list {
      background: url('../../assets/out.png') no-repeat 25px center;
      background-size: 16px;
    }
  }
  .user_app_down {
    right: -25%;
    width: 128px;
    height: 164px;
    border-radius: 4px;
    img {
      width: 100px;
    }
    ul, li {
      height: 100%;
    }
  }

  // 未登录
  .register_btn, .login_btn {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    top: -2px;
    min-width: 60px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    color:$white100;
  }
  .login_btn {
    position: relative;
    border: 1px solid $white100;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: rgba(255, 255, 255, .2s);
      border-radius: 50%;
    }
    &:hover:before {
      animation: buttonCircle 1s;
      animation-fill-mode: forwards;
    }
  }

  .login_btn_top {
    display: none;
  }
}

//pss
.gold-coin {
  background: white;
  display: none; 
  position:absolute;
  min-width:100%;
  top: 70px;
  a{
    padding:0;width:100%;box-sizing:border-box;height:31px!important;color:#333!important;line-height:31px;
    &:hover{opacity:0.5;}
  }
}
.gold-coin div {
  height: 37px;
}
.gold-coin div>a {
  line-height: 25px;
  color: gray !important;
  margin: 3px 16px !important;
  text-decoration: none;
}

.bagr:hover {
  background: #f0dede;
}
.triangle_border_up {
  width: 0;
  height: 0;
  border-width: 0 13px 15px;
  border-style: solid;
  border-color: transparent transparent white;
  /* margin: 40px auto; */
  position: absolute;
  bottom: 100%;
  left: 32%;
}
.transaction:hover .gold-coin {
  display: block;
}