{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 0.01%", "last 50 versions", "not ie <= 8"]
      },
      "useBuiltIns": true
    }],
    "stage-2"
  ],
  "plugins": ["transform-runtime"],
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": ["istanbul"]
    }
  }
}
