{include file="public:header" /}
<script type="text/javascript" src="__PUBLIC__/layer/laydate/laydate.js"></script>
<div id="main-content">
	<div id="top-alert" class="fixed alert alert-error" style="display: none;">
		<button class="close fixed" style="margin-top: 4px;">&times;</button>
		<div class="alert-content">警告内容</div>
	</div>
	<div id="main" class="main">
		<div class="main-title-h">
			<span class="h1-title"><a href="{:url('Activity/issue')}">认购释放</a> >></span>
            <span class="h1-title">{empty name="data"}添加认购释放 {else/} 编辑认购释放 {/empty}</span>
		</div>
		<div class="tab-wrap">
			<div class="tab-content">
				<form id="form_form" action="{:url('Activity/issueEdit')}" method="post" class="form-horizontal" enctype="multipart/form-data">
					<input type="hidden" class="form-control input-10x" name="ci" value="100">
					<input type="hidden" class="form-control input-10x" name="jian" value="24">

					<div id="tab" class="tab-pane in tab">
						<div class="form-item cf">
							<table>

								<tr class="controls">
									<td class="item-label">认购用户 :</td>
									<td>
										<input type="text" class="form-control input-10x" name="username" value="{$data['username']}">
									</td>
									<td class="item-note">认购用户</td>
								</tr>
								<tr class="controls">
									<td class="item-label">认购名 :</td>
									<td>
										<input type="text" class="form-control input-10x" name="name" value="{$data['name']}">
									</td>
									<td class="item-note">认购名</td>
								</tr>
								<tr class="controls">
									<td class="item-label">认购币种 :</td>
									<td>
										<input type="text" class="form-control input-10x" name="coinname" value="{$data.coinname}"/>
									</td>
									<td class="item-note">认购币种</td>
								</tr>
								<tr class="controls">
									<td class="item-label">认购数量 :</td>
									<td>
										<input type="text" class="form-control input-10x" name="num" value="{$data.num}">
									</td>
									<td class="item-note">认购数量</td>
								</tr>
								<tr class="controls">
									<td class="item-label">已解冻次数 :</td>
									<td>
										<input type="text" class="form-control input-10x" name="unlock" value="{$data.unlock}">
									</td>
									<td class="item-note">已解冻次数</td>
								</tr>
								<tr class="controls">
									<td class="item-label">开始解冻时间 :</td>
									<td>
										<input type="text" class="form-control input-10x" name="endtime" value="{$data['endtime']|addtime}" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
									</td>
									<td class="item-note">开始解冻时间</td>
								</tr>
								<tr class="controls">
									<td class="item-label">认购状态 :</td>
									<td>
										<select name="status" class="form-control input-10x">
											<option value="1" {eq name="data.status" value="1"}selected{/eq}>可用</option>
											<option value="0" {eq name="data.status" value="0"}selected{/eq}>禁用</option>
										</select>
									</td>
									<td class="item-note">认购状态</td>
								</tr>

								<tr class="controls">
									<td class="item-label"></td>
									<td>
										<div class="form-item cf">
											<button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
											<a class="btn btn-return" href="{$Think.server.HTTP_REFERER}">返 回</a>
											{notempty name="data.id"}<input type="hidden" name="id" value="{$data.id}"/>{/notempty}
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</form>
				<script type="text/javascript">
					//提交表单
					
					$('#submit').click(function () {
						$('#form_form').submit();
					});

				</script>
			</div>
		</div>
	</div>
</div>
{include file="public:footer" /}
<block name="script">
	<script type="text/javascript" charset="utf-8">
		//导航高亮
		highlight_subnav("{:url('Activity/issue')}");
	</script>
</block>