@import "../../config.scss";
@import "../../color.scss";

// 响应式
//  @import "./user_realinfo_767.scss";
.bg_red {
	background: #ffbd09 !important;
	color: #eee;
	text-align: center;
}
.red{color: $orange500;}
.mplan_change_tab{
	border-bottom: 1px solid $gray90;
	height: 34px;
	line-height: 34px;
	.mplan_active_li {
		color: $orange500;
		background: $white500;
		border: 1px solid $gray90;
		border-bottom: 1px solid $gray50;
	}
	li {
		padding: 0 18px;
		height: 100%;
		cursor: pointer;
	}
}
.mainBox {
	padding: 45px 25px 25px 35px;
	background: $white500;
	.bankList{
		&>*{
			display:inline-block;vertical-align:middle;
			border-radius: 5px;
			cursor: pointer;
			padding: 10px;
			position: relative;
			margin: 10px;
			height:150px;box-sizing:border-box;
		}
		.btnAdd{
			background: #263040;
			color: #eee;
			width:150px;
			padding-top:60px;
			&::before{
				content:"+";
				color:#eee;
				display:inline-block;
				position: absolute;
				top:28%;left:50%;
				transform:translate(-50%);
				font-size:46px;

			}
		}
		&>div{
			width:240px;
			background:#eee;
			box-shadow:0 0 5px -1px #263040;
			.operat{margin-top:25px;}
		}
	}
	.off {
		padding:12px 26px;
		border-radius: 10px;
		position: relative;
		top: -4px;
	}
	.off>i {
		padding:11px;
		border-radius: 50%;
		position: absolute;
		top:1px;
		background: #eee;
	}
	.addImg {
		width: 180px;height: 180px;
		display: inline-block;
		vertical-align:middle;
		position: relative;
		border: 1px solid #ebe9e9;
		&::before{
			content:"+";
			color:#ffbd09;
			display:inline-block;
			position: absolute;
			top:26%;left:50%;
			transform:translate(-50%);
			font-size:46px;
		}
		button{
			position: absolute;top:60%;left:50%;
			transform:translate(-50%);
		}
		[type="file"] {
			height: 100%;
			width: 100%;
			min-width: 100%;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 10;
			opacity: 0;padding:0;margin:0;
		
		}
		img {
			height: 100%;
			max-width: 100%;
			right: 0;
			background: none;
		}
		b {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			font-size: 19px;
			height: 28px;
			line-height: 30px;
			color: #eee;
			text-align: center;
		}
	}
	.minBtn {
		width: auto;
		padding: 0 5px;
		line-height: 21px;
		height: 21px;
		border-radius: 3px;
		text-align: center;
	}
	
}
input,select,textarea{
	vertical-align: middle;
	font-size: 14px;
	min-width: 350px;
	height: 40px;
	line-height: 36px;
	text-align: left;
	cursor: pointer;
	border-radius: 3px;
	padding: 0 5px;
	border: 1px solid #999;
}
.alertBox{
	background: rgba(10,10,10,0.5);position: fixed;
	top:70px;right:0;width:calc(100% - 223px);height:calc(100% - 70px);
	z-index: 2;
	.Bankwindow {
		background: #fff;
		position: fixed;
		top: 50%;
		left: 50%;
		transform:translate(-27%,-50%);
		z-index: 1032;
		border-radius: 14px;
		overflow: hidden;
		box-shadow: 0 0 20px 10px #263040;
		.headers {
			padding:10px 56px 10px 10px;
			height: 20px;
			background:#eee;
			.close{position: absolute;
				top:0;right:0;background:#ffbd09;color:#eee;
				height:40px;width:40px;font-size:29px;
				border-radius:0 0 0 5px;
			}
		}
		.login_text{
			margin-bottom: 15px;
			position: relative;
			padding:0 50px;
			min-width:437px;
			.alert_wrap_title {
				min-width:70px;
				text-align: right;
				line-height: 40px;
				font-size: 14px;
				display: inline-block;
				color: gray;
			}
			select{min-width:174px;}
		}
		.login_button{padding:0  0 25px 122px;
			input{min-width: 362px;
				text-align: center;border:0;
				background:#ffbd09;
				color: #eee;
			}
		}
	}
}
button{cursor: pointer;}
span{position:relative;top:0px;
	.red{position: absolute;right:55px;top:1px;}
	.bg_red{
		position: absolute;top:-10px;
		right:10px;height:42px;line-height:42px;
		border-radius:5px;padding:0 10px
	}
}

.mask_wrap_title {
  min-width: 115px;
  text-align: right;
  line-height: 40px;
  font-size: 14px;
  display: inline-block;
  color: #eee;
}
select {
  height: 40px;
  font-size: 12px;
}
[type=text], select, textarea {
  vertical-align: middle;
  font-size: 14px;
  min-width: 350px;
  height:40px;
  line-height:36px;
  text-align: left;
  cursor: pointer;
  border-radius:3px;
  padding:0 5px;
  margin-right: 10px;
  border:1px solid #999;
}
.mask{
  .Bankwindow{
    margin: 0 auto;
    width: 555px;
    height: 520px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -260px;
    margin-left: -225px;
    z-index: 1032;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
  }
  .headers{
      padding: 9px 22px;
      height: 20px;
      border-bottom: 1px slo;
      border-bottom: 1px solid;
  }
  .mask_wrap_title{
    color:gray;
  }
}
#showBox{
  margin-top:30px;
}
#showBox p{
  margin-top:30px;
}
[v-cloak]{display:none;opacity:0;}