<include file="Public:header" />

<div class="autobox ">
	<div class="now">
		<i class="fa fa-home fa-lg move mr5"></i><a href="/" class="movesay">{:L('ADDRESS')}</a> &gt; <a href="/Finance/index.html" class="movesay">{:L('FINANCE')} </a> &gt; {:L('WITHDRAWAL_RECORDS')}	</div>
	<div class="main-content">

<include file="Finance:left" />

		<div class="tag-list-content assets_content bg_w">
			<h1 class="safe_center clear">
				<span>
					{:L('WITHDRAWAL_DIGI_ASSET')}					</span>
					<span>
					<a href="/finance/myzc" class="step fz_12 ml50 pd6 ">{:L('WITHDRAWAL_DIGI_ASSET')}</a>
						<a href="/finance/coinoutlog" class="step fz_12 ml20 pd6 active">{:L('WITHDRAWAL_RECORDS')}</a>
					<a href="/finance/qianbao" class="step fz_12 ml20 pd6 ">{:L('WITHDRAWAL_ADD_LIST')}</a>
				</span>
			</h1>
			<div id="hints" class="mytips" style="display:none;">
				<p>
				<notempty name="prompt_text">
					{$prompt_text}
				</notempty>
				</p>
			</div>
			<div class="mytable-body ">
				<div class="f_body  step2">
					<table class="f_table" id="investLog_content">
						<thead>
						<tr>

							<th width="">{:L('WITHDRAWAL_TIME')}</th>
							<th width="">	<select name="type" id="coinnam-select" class="mW100">
								<option value="">--{:L('ALL_CURRENCIES')}--</option>
										<volist name="coin_list" id="vo">
											<option value="{$vo['name']}">{$vo.title} ({$vo['name']|strtoupper})</option>
										</volist>
								 </select></th>
							<th width="">{:L('RECEIVE_ADD')}</th>
							<th width="">{:L('WITHDRAWAL_QUANTITY')}</th>
							<th width="">{:L('WITHDRAWAL_FEE')}</th>
							<th width="">{:L('ACTUAL_ARRIVAL')}</th>
							<th width="">{:L('STATE')}</th>
						</tr>
						</thead>
						<tbody>

                        <volist name="list" id="vo">
                            <tr>
                                <td>{$vo.addtime|addtime}</td>
                                <td>{$vo.coinname}</td>
                                <td>{$vo.username}</td>
                                <td>{$vo['num']|NumToStr}</td>
                                <td>{$vo['fee']|NumToStr}</td>
                                <td>{$vo['mum']|NumToStr}</td>
                                <td>
                                    <eq name="vo.status" value="1">
                                        <font color="#39E2A2">{:L('SUCCESS_WITHDRAWAL')} </font>
									</eq>
									<eq name="vo.status" value="0">
										{:L('WAIT')}
									</eq>
									<eq name="vo.status" value="2">
										{:L('RESCINDED')}
									</eq>
                                </td>
                            </tr>
                        </volist>

						</tbody>
					</table>
					<div class="pages">{$page}</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	var hints = "0";
	if(hints == 1){
		$('#hints').show();
	}

	$("#coinnam-select").val("{$xnb}");

	$("#coinnam-select").change(function () {
		var coinname = $("#coinnam-select option:selected").val();
		var url      = '/finance/coinoutlog';
		if (coinname) {
			url += '/coin/' + coinname;
		}
		window.location = url;
	});
	
	$('#finance_box').addClass('active');
	$('.finan_index').addClass('active');
</script>

<include file="Public:footer" />
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
