<include file="Public:header" />

<div class="autobox ">
    <div class="now">
        <i class="fa fa-home fa-lg move mr5"></i><a href="/" class="movesay">{:L('ADDRESS')}</a> &gt; <a href="/Finance/index.html" class="movesay">{:L('FINANCE')} </a> &gt; {:L('REWARDS')}	</div>
    <div class="main-content">

        <include file="Finance:left" />

        <div class="tag-list-content">
            <div class="assets_content bg_w">
                <h1 class="safe_center clear ">
                    <span  style="margin-right:15px" >用户奖励  |</span> 
                    <a href="/Finance/myawardifc.html" class="active">{:L('REWARDS')}</a>
                    <a href="/Finance/mywd.html" style="margin-left:15px">{:L('RECOMMENDATION')}</a>
                    <a href="/Finance/myjp.html"  style="margin-left:15px">{:L('PUSHREWARDS')}</a>
                    <a class="right" onclick="$('#hints').slideToggle();"> <i class="fa fa-hand-o-right move fz_14 mr5"></i> <span class="fz_12 move">{:L('DETAILED_INFO')}</span></a> 					
                </h1>
                <div id="hints" class="mytips" style="display:none;">
                    <notempty name="prompt_text">{$prompt_text}</notempty>
                </div>
                <div class="mytable-body ">
                    <div class="f_body  step2">
                        <table class="f_table" id="investLog_content">
                            <thead>
                            <tr>
                                <th>{:L('USER_ID')}</th>
                                <th>{:L('REWARD_TYPE')}</th>
                                <th>{:L('REWARD_CURRENCY')}</th>
                                <th>{:L('REWARD_QUANTITY')}</th>
                                <th>{:L('REWARD_STATE')}</th>
                                <th>{:L('OPERATE_TIME')}</th>
                                <th>{:L('OPERATE')}</th>
                            </tr>
                            </thead>
                            <tbody>

                            <volist name="list" id="vo">
                                <tr>
                                    <td>{$vo.one|substr_replace='****',3,4}</td>
                                    <td>{$vo['award_type']}</td>
                                    <td>{$vo['title']}({$vo['name']})</td>
                                    <td>{$vo['nums'] / $vo['n']}</td>
                                    <td>{$vo['award_status']}</td>
                                    <td>{$vo['add_time']}</td>
                                    <td><a onclick="jiedong({$vo['id']})" href="javascript:void(0)" class="cur" style="    color: #E55600!important;">{:L('THAW')}</a></td>
                                </tr>
                            </volist>

                            </tbody>
                        </table>
                        <div class="pages">{$page}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var hints = "0";
    if(hints == 1){
        $('#hints').show();
    }
    $('.finan_awardd').addClass('active');
    $('#finance_box').addClass('active');

    function jiedong(id) {
        $.post("/Finance/myawardifc", {id: id}, function (data) {
            if (data.status == 1) {
                layer.msg(data.info, {icon: 1});
                window.location.reload();
            } else {
                layer.msg(data.info, {icon: 2});
            }
        }, "json");
    }
</script>
<include file="Public:footer" />