<include file="Public:header" />
<script type="text/javascript" src="/comfile/js/cityselect.js"></script>
<style>
	.yb-add,.yb-item{
		width:215px;
		margin:6px;
		height:130px;
		border-radius:8px;
		background-position:-10px -355px;
		display:inline-block;vertical-align:top;
		cursor:pointer;
		background:#fff;
		padding:13px;
	}
	.ydt-bank{
		padding:10px 18px;
		position:relative;
		overflow:hidden;
	}
	.name{
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
		width:73px;
		float:right;
	}
</style>
<div class="autobox ">
	<div class="now">
		<i class="fa fa-home fa-lg move mr5"></i><a href="/" class="movesay">{:L('ADDRESS')}</a> &gt; <a href="/Finance/index.html" class="movesay">{:L('FINANCE')} </a> &gt; {:L('WITHDRAWAL_ADD')}	</div>
	<div class="main-content">
		<include file="Finance:left" />
		<div class="tag-list-content assets_content bg_w">
			<h1 class="safe_center clear">
				<span>{:L('WITHDRAWAL_ADD')}</span>
				<span>
					<a href="/Finance/myzc" class="step fz_12 ml50 pd6 ">{:L('WITHDRAWAL_DIGI_ASSET')}</a>
					<a href="/Finance/coinoutlog" class="step fz_12 ml20 pd6 ">{:L('WITHDRAWAL_RECORDS')}</a>
					<a href="/Finance/qianbao" class="step fz_12 ml20 pd6 active">{:L('WITHDRAWAL_ADD_LIST')}</a>
				</span>
			</h1>
			<div id="hints" class="mytips" style="display:none;">
				<notempty name="prompt_text">
					{$prompt_text}
				</notempty>
			</div>
			<div class="mytable-body ">
				<div class="f_body  step2">
					<table class="f_table" id="investLog_content">
						<thead>
						<tr>
							<th style="width: 150px;text-align: left;padding-left: 10px;">
								<select name="type">
									<option value="">--{:L('ALL_CURRENCIES')}--</option>
									<volist name="coin_list" id="vo">
										<eq name="xnb" value="$key">
											<option value="{$vo['name']}" selected="selected">{$vo.title} ({$vo['name']|strtoupper})</option>
											<else/>
											<option value="{$vo['name']}">{$vo.title} ({$vo['name']|strtoupper})</option>
										</eq>
									</volist>
								 </select>
							</th>
						</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
			<div class="ydt-bank">
				<div class="yb-add icon-add iconfont" style="text-align:center;padding-top:45px" onclick="showA()">
					{:L('ADD_WALLET')}
				</div>
				<volist name="userQianbaoList" id="vo">
					<div class="yb-item  js-bank-item js-bank-index-1 current" id="item_bank" data-serial="">
						<div>
							<img src="__DOMAIN__/Upload/coin/{$coin_list[$vo['coinname']]['img']}" style="margin-bottom: -5px; width: 22px;"/>
							{$coin_list[$vo['coinname']]['title']}({$vo.coinname})
							<div class="name" >{$vo.name}</div>
						</div>
						<div style="text-align:center;padding-top:20px;overflow:hidden" onclick="show_addr('{$vo.addr}')">{$vo.addr}</div>
						<div style="padding-top:22px">
							<a href="/finance/myzr/coin/{$vo.coinname}" class="minBtn bg_red">{:L('WALLET_DEPOSIT')}</a>
							<a href="/finance/myzc/coin/{$vo.coinname}"class="minBtn bg_red" data-fun="Pay">{:L('WALLET_WITHDRAWAL')}</a>
							<a style="float:right;" class="minBtn bg_red" data-align="{$vo.id}" onclick="del(this)" data-open="<span>{:L('CLOSE')}</span>" data-close="<span>{:L('ENABLE')}
								</span>" data-active="<span>{:L('ACTIVATION')}</span>">
								<span>{:L('UNBUNDLING')}</span>
							</a>
						</div>
					</div>
				</volist>
				</div>
				<div class="pages">{$page}</div>
			</div>
		</div>
	</div>
</div>
<div class="all_mask_loginbox tx_loginbox" id="step1" style="display: none;">
	<div class="login_title pl20">{:L('ADD_A_WALLET')}</div>
	<form id="form-login" class="mask_wrap login-fb">
		<div class="login_text zin80">
			<div class="mask_wrap_title">{:L('CURRENCIES_NAME')}：</div>
			<select name="bank" id="qianbao_coinname" class="texts">
				<option value="" selected="selected">--{:L('COIN_TYPE_SELECT')}--</option>
					<volist name="coin_list" id="vo">

							<option value="{$vo['name']}">{$vo.title} ({$vo['name']|strtoupper})</option>

					</volist>
				 </select>
		</div>
		<div class="login_text zin80">
			<div class="mask_wrap_title">{:L('WALLET_IDENTIFY')}：</div>
			<input id="qianbao_name" class="texts" type="text">
		</div>
		<div id="memo" class="login_text zin80" style="display: none">
			<div class="mask_wrap_title">{:L('CURRENCIES_NAME_EOS_MEMO')}：</div>
			<input id="qianbao_memo" class="texts" type="text" placeholder= "--{:L('COIN_TYPE_SELECT_EOS')}--">
		</div>
		<div id="tag" class="login_text zin80" style="display: none">
			<div class="mask_wrap_title">{:L('CURRENCIES_NAME_XRP_TAG')}：</div>
			<input id="qianbao_tag" class="texts" type="text" placeholder= "--{:L('COIN_TYPE_SELECT_XRP')}--">
		</div>
		<div class="login_text zin80">
			<div class="mask_wrap_title">{:L('WALLET_ADD')}：</div>
			<input id="qianbao_addr" class="texts" type="text">
		</div>
		<div class="login_text zin80">
			<div class="mask_wrap_title">手机验证码</div>
			<input id="code" class="texts" type="txt">
			<span id="sendMsg" class="vifcode bg_red"></span>
			<s class="vifcode bg_red" id="vifcode" onclick="send_moble(60)">获取</s>
		</div>
		<div class="login_text zin80">
			<div class="mask_wrap_title">{:L('TRAN_PWD')}：</div>
			<input id="payPWD" class="texts" type="password"><a href="/findpwd/findpwd" class="move ml5">{:L('FORGET')}?</a>
		</div>
		<div class="login_button">
			<input type="button" class="btns2" value="{:L('ADD_WALLET_ADDRESS_NOW')}" onclick="qianbao_up();">
		</div>
	</form>
	<div class="mask_wrap_close iconfont" onclick="showB()"></div>
</div>
<div id="step2" class="all_mask" style="height: 0px;display: none;"></div>
<script>
	//发送短信
	var clickN=0;
	function send_moble(wait) {
		clickN++;
		if(clickN==1){
			var moble={$moble};
			var obj  = $('#sendMsg');
			$.post("{:U('Verify/bankseng')}", {
				moble: moble,
			}, function (data) {
				if (data.status == 1) {
					$("#vifcode").hide(500);
					obj.show(500);
					layer.msg(data.info, {icon: 1});
					var interval = setInterval(function () {
						if (wait <0) {
							$("#vifcode").show(500);
							obj.hide(500);
							clickN=0;
							wait=60;
							clearInterval(interval);
						};
						obj.html(wait + "{:L('CODE_SEND_AGAIN')}");
						wait--;
					}, 1000);
				} else {
					layer.msg(data.info, {icon: 2});
					if (data.url) {
						window.location = data.url;
					}
				}
			}, "json");
		}else{return false;}
	}
</script>
<script>
	$("#coinnam-select").val("{$xnb}");
	$("#coinnam-select").change(function () {
		var coinname = $("#coinnam-select option:selected").val();
		var url      = '/finance/qianbao';
		if (coinname) {
			url += '/coin/' + coinname;
		}
		window.location = url;
	});
	function show_addr(addr) {
		layer.alert(addr, {title: "{:L('UR_WALLET_ADD')}"});
	}
	function del(o) {
		var id = $(o).attr('data-align');
		layer.config({
			extend: 'extend/layer.ext.js'
		});
		layer.ready(function () {
			layer.prompt({
				title: '{:L(\'TRAN_PWD_AND_CONFIRM\')}',
				formType: 1
			}, function (val) {
				if (val) {
					$.post("{:U('User/delqianbao')}", {
						id: id,
						code: val
					}, function (data) {
						if (data.status == 1) {
							layer.msg(data.info, {icon: 1});
							location.reload();
						} else {
							layer.msg(data.info, {icon: 2});
							if (data.url) {
								window.location = data.url;
							}
						}
					}, "json");
				}
				;
			});
		});
	}
    $('#qianbao_coinname').change(function () {
        var coin = $('#qianbao_coinname option:selected').val();
        if (coin == 'eos'){
            $('#memo').show();
            $('#tag').hide();
        }else if (coin == 'xrp'){
            $('#memo').hide();
            $('#tag').show();
        }else{
            $('#memo').hide();
            $('#tag').hide();
        }
    })
	$(function () {
		var height = $(document).height();
		if (height < 1000) {
			height = 1000;
		}
		$('#step2').height(height);
	});
	function showA() {
		$("#step1").show();
		$("#step2").show();
	}
	function showB() {
		$("#step1").hide();
		$("#step2").hide();
	}
	function qianbao_up() {
		var coinname    = $("#qianbao_coinname option:selected").val(),
			name        = $('#qianbao_name').val(),
			addr        = $('#qianbao_addr').val(),
			code = $('#code').val(),
			payPWD = $('#payPWD').val();
		if (coinname == "" || coinname == null) {
			layer.tips('{:L("COIN_TYPE_SELECT")}', '#qianbao_coinname', {tips: 2});
			return false;
		}
		if (name == "" || name == null) {
			layer.tips('{:L("ENTER_WALLET_IDENTIFY")}', '#qianbao_name', {tips: 2});
			return false;
		}
		if (addr == "" || addr == null) {
			layer.tips('{:L("ENTER_WALLET_ADD")}', '#qianbao_addr', {tips: 2});
			return false;
		}
		if (code == "" || code == null) {
			layer.tips('{:L("TRAN_PWD_ENTER")}', '#qianbao_paypassword', {tips: 2});
			return false;
		}

		if (coinname == 'eos'){
            memo	    = $('#qianbao_memo').val();
		}else if (coinname == 'xrp'){
            memo	    = $('#qianbao_tag').val();
		}else {
		    memo = '';
		}
		$.post("{:U('User/upqianbao')}", {
			coin: coinname,
			name: name,
			addr: addr,
			code: code,
			memo:memo,
			payPWD:payPWD,
		}, function (data) {
			if (data.status == 1) {
				layer.msg(data.info, {icon: 1});
				location.reload();
			} else {
				layer.msg(data.info, {icon: 2});
				if (data.url) {
					window.location = data.url;
				}
			}
		}, "json");
	}
	var hints = "0";
	if(hints == 1){
		$('#hints').show();
	}
	$('#finance_box').addClass('active');
	$('.finan_index').addClass('active');
</script>
<include file="Public:footer" />

