@import "./theme.scss";
@import "../trade/theme.scss";
@import "../mob/theme.scss";
@import "../mob/fun.scss";

.mob-layer {
  display: none;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  // bottom: 0;
  // right: 0;
  z-index: 99;
  overflow-y: auto;

  .layer-bg {
    // display: none;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.6;
    z-index: 1;
  }

  .layer {
    // display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    margin: 0;
    width: 100%;
    height: 100%;
    padding-bottom: pxToRem(150);
    font-size: pxToRem(30);
    border-radius: 0;
    background: #fff;
    animation: layer-transform 0.3s;

    .close-layer {
      position: absolute;
      left: 0;
      right: auto;
      z-index: 3;
      width: pxToRem(76);
      height: pxToRem(107);
      background: url('../../assets/go_back.png') center center no-repeat;
      // border-top-right-radius: 12px;
      // cursor: pointer;
      &::after,
      &::before {
        content: '';
        display: none;
        position: absolute;
        left: 0;
        top: 60%;
        width: 25px;
        height: 3px;
        background: #d6d6d6;
      }
      // &::before {
      //   transform: rotate(45deg);
      // }
      // &::after {
      //   transform: rotate(135deg);
      // }
    }

    .act-reg-news {
      margin: 0;
      line-height: pxToRem(81);
      text-align: center;

      span {
        color: #e70012;
      }
    }

    .layer-title,
    .succ-title {
      height: pxToRem(107);
      line-height: pxToRem(107);
      color: #333;
      text-align: center;
      font-size: pxToRem(42);
      border-bottom: 1px solid #f3f3f3;
      box-shadow: 0 0 10px rgba(0,0,0,0.06);
    }

    .succ-title {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 2;
    }

    .top-login {
      position: absolute;
      right: pxToRem(24);
      top: 0;
      display: block;
      font-size: pxToRem(30);
      color: $grayBlack;
    }

    .act-news-ti {
      height: 24px;
      line-height: 24px;
      padding: 25px 0 16px;
    }

    .pop-form {
      padding: pxToRem(24) pxToRem(24) 0;
    }

    .input-g {
      position: relative;
      display: flex;
      justify-content: flex-start;
      margin: 0 0 pxToRem(62);
      width: 100%;
      height: pxToRem(94);
      line-height: pxToRem(94);
      color: #333;
      font-size: pxToRem(30);
      border: none;

      &.msg-group {
        margin: 0 0 pxToRem(20);

        input[data-time="60"] {
          cursor: pointer;
        }
      }

      &.form-err {
        border: 1px solid $font-r;
      }

      label {
        flex-shrink: 0;
        width: pxToRem(195);
        text-align: center;
        color: #666;
        line-height: pxToRem(94);
        background: #f6f6f6;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        user-select: none;
        img {
          width: pxToRem(25);
        }
      }

      input {
        box-sizing: border-box;
        padding: 0 pxToRem(10);
        width: 100%;
        height: pxToRem(94);
        line-height: normal;
        // padding: pxToRem()
        // line-height: pxToRem(94);
        border: none;
        background: $btnBg;
        outline: none;
        font-size: pxToRem(30);
        text-indent: 0;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;

        &:focus + p {
          display: block;
        }

        &::placeholder {
          color: #c2c2c2;
        }

        &.sm-input {
          width: pxToRem(280);
        }

        &.xs-input {
          width: pxToRem(214);
          margin-left: pxToRem(18);
          border-radius: pxToRem(8);
          font-size: pxToRem(30);

          &:hover {
            background: $btnHover;
          }
        }

        &:disabled {
          cursor: default;
          background: #efefef;
          color: #999;
        }

        &[type="text"] {
          background: $btnBg;
        }

        &[type='submit'] {
          width: 100%;
          background: $subBg;
          border-radius: pxToRem(8);
          color: #fff;
          font-size: pxToRem(30);
          cursor: pointer;

          &:hover {
            background: $subHover;
          }
        }
      }

      .white-input {
        -webkit-appearance: none;
        background-color: transparent;
        // background: $btnBg;
      }

      button {
        &[type='submit'] {
          width: 100%;
          background: $subBg;
          border-radius: pxToRem(8);
          color: #fff;
          font-size: pxToRem(30);
          cursor: pointer;

          &:hover {
            background: $subHover;
          }
        }
      }

      span {
        display: block;
        margin-left: pxToRem(18);
        width: pxToRem(214);
        height: pxToRem(94);
        cursor: pointer;

        img {
          display: block;
          width: 100%;
          height: 100%;
          border: none;
        }
      }

      p.tip-placeholder {
        display: none;
        position: absolute;
        top: auto;
        bottom: pxToRem(-70);
        left: 0;
        margin: 0;
        font-size: pxToRem(24);
        color: #999;
        text-indent: pxToRem(70);
        background: url('../../assets/tip-bg.png') pxToRem(32) center no-repeat;
        background-size: pxToRem(27) pxToRem(27);

        &.error-tip {
          display: block;
          color: $font-r;
          background-image: url('../../assets/err_tip_3x.png');
          background-size: pxToRem(27) pxToRem(27);
        }

        &.good-pwd {
          background-image: url('../../assets/good-pwd-3x.png');
          background-size: pxToRem(27) pxToRem(27);
        }

        &.midd-pwd {
          background-image: url('../../assets/midd-pwd-3x.png');
          background-size: pxToRem(27) pxToRem(27);
        }

        &.weak-pwd {
          background-image: url('../../assets/weak-pwd-3x.png');
          background-size: pxToRem(27) pxToRem(27);
        }
      }

      i.input-correct {
        content: '';
        display: none;
        position: absolute;
        top: 50%;
        right: pxToRem(15);
        width: pxToRem(30);
        height: pxToRem(30);
        background: url('../../assets/input-correct.png') center no-repeat;
        background-size: 100% 100%;
        transform: translateY(-50%);
      }
    }

    .checkbox-container {
      display: flex;
      align-items: center;
      width: 100%;
      height: pxToRem(30);
      text-align: left;
      margin: pxToRem(40) 0 pxToRem(52);

      input[type='checkbox'] {
        width: pxToRem(27);
        height: pxToRem(27);
        border: 1px solid $norBlack;
        box-shadow: none;
        background: #fff;
      }

      label {
        font-size: pxToRem(30);
        color: $grayBlack;
        height: auto;
        line-height: auto;
        background: none;
        user-select: none;
        margin-left: pxToRem(8);

        a {
          color: $link;
        }

        a:hover {
          color: $linkHover;
        }
      }

      label[for="agree-check"] {
        color: $deepBlack;
      }
    }

    .mixed-text {
      margin: pxToRem(20) 0 0 0;
      width: 100%;
      height: auto;
      text-align: right;

      & > span {
        // display: none;
      }

      span {
        font-size: pxToRem(30);
        color: $deepBlack;
        height: pxToRem(30);
        line-height: auto;
        background: none;
        user-select: none;
        margin-left: 0;

        a {
          color: $link;
        }

        a:hover {
          color: $linkHover;
        }
      }
    }

    .getVoice-container {
      display: none;
    }
    // .checkbox-container{
    //   label[for="agree-check"]{
    //     color: $deepBlack;
    //   }
    // }
    .last-input {
      margin: 0;
    }
  }

  .act-reg {
    // height: 596px;
    //
    .layer-title {
      // height: 24px;
      // line-height: 24px;
      padding: 0;
    }
  }

  .reg-succ-win {
    box-sizing: border-box;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding: pxToRem(398) pxToRem(24) 0;
    width: 100%;
    height: 100%;
  }

  .success-layer {
    margin: 0;
    padding: 0;
    height: 100%;

    .layer-title {
      padding: pxToRem(50) 0 pxToRem(20);
      font-size: pxToRem(50);
      line-height: pxToRem(50);
      color: $deepBlack!important;
      height: pxToRem(50)!important;
      text-align: center;
      // line-height: 230px;
      box-shadow: none;
      border: none;
    }

    .reg-active {
      padding: pxToRem(35) 0 pxToRem(42);
      font-size: pxToRem(28);
      color: #666;
      line-height: pxToRem(32);
      text-align: center;

      span {
        color: #e22;
      }
    }

    input[type='button'] {
      width: 100%;
      background: $subBg;
      border-radius: 4px;
      color: #fff;
      font-size: pxToRem(36);
      height: pxToRem(94);
      border: none;
      // position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translateX(-50%);
      &:hover {
        cursor: pointer;
        background: $subHover;
      }
    }
  }

  #register-layer {
    .input-g {
      &:nth-of-type(1) label {
        letter-spacing: 3px;
        text-indent: -1px;
      }

      &:nth-of-type(2) label {
        letter-spacing: 5px;
        text-indent: 2px;
      }

      &:nth-of-type(3) label {
        letter-spacing: 5px;
        text-indent: 2px;
      }
    }

    .rig-gif {
      float: left;
      line-height: pxToRem(80);

      span:nth-child(1) {
        color: $norBlack;
      }

      span:nth-child(2) {
        color: $deepBlack;
      }
    }
  }

  #login-layer {
    box-sizing: border-box;
    height: 100%;

    .pop-form {
      padding: pxToRem(66) pxToRem(24) 0;
    }

    .input-g {
      &:nth-of-type(1) label {
        letter-spacing: 3px;
        text-indent: -1px;
      }

      &:nth-of-type(2) label {
        letter-spacing: 5px;
      }
    }

    .forget-pwd,
    .link-register {
      position: absolute;
      bottom: -28px;
      right: 0;
      color: $link;
      font-size: 12px;

      &:hover {
        color: $linkHover;
      }
    }

    .link-register {
      right: auto;
      left: 0;
    }
  }

  #pwd-layer {
    // height: 260px;
    input {
      width: 100%;
    }
  }
}
