@import "./theme.scss";
@import "../animation/layer-transform.scss";
// @import "~styles/mob/fun.scss";

.loading-svg {
  display: inline-block;
  position: absolute;
  left: 120px;
  top: 15px;
  width: 15px;
  height: 15px;

  &::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../../assets/loading.svg) center no-repeat;
    background-size: 15px 15px;
  }
}
.layer-bg {
  // display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .6;
  z-index: 99;
}

.layer {
  // display: none;
  width: 452px;
  height: 596px;
  background: #fff;
  z-index: 100;
  position: fixed;
  margin: auto;
  // top: 50%;
  // left: 50%;
  // margin-left: -226px;
  // margin-top: -288px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 12px;
  animation: layer-transform .3s;

  .close-layer {
    position: absolute;
    right: 0;
    z-index: 3;
    width: 38px;
    height: 38px;
    background: #fff;
    border-top-right-radius: 12px;
    cursor: pointer;
    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 60%;
      width: 25px;
      height: 3px;
      background: #d6d6d6;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(135deg);
    }
  }
  .act-reg-news {
    margin-bottom: 18px;
    text-align: center;

    span {
      color: #e70012;
    }
  }
  .top-login {
    display: none;
  }
  .layer-title {
    display: block;
    text-align: center;
    font-size: 24px;
    color: #333;
    height: 83px;
    line-height: 83px;
  }
  p.act-news-ti {
    height: 24px;
    line-height: 24px;
    padding: 25px 0 16px;
  }
  .input-g {
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 342px;
    height: 43px;
    color: #333;
    margin: 0 auto 29px auto;
    border: 1px solid transparent;

    &.register_g {
      position: relative;
    }
    &.msg-group{
      input[data-time="60"]{
        cursor: pointer;
      }
    }
    button.sub-btn {
      background:#3156a1;
      color: #fff;
      width: 100%;
      font-size: 16px;
      cursor: pointer;
      height: 43px;
      line-height: 43px;
      text-indent: 6px;
      border: none;
      outline: none;
      border-radius: 4px;
      &:hover {
        background: #3156a1;
      }
    }
    &.form-err {
      border: 1px solid $font-r;
    }

    label {
      width: 117px;
      text-align: center;
      color: #666;
      line-height: 43px;
      background: #f6f6f6;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      user-select: none;

    }
    .xs-input {
      width: 96px;
      margin-left: 9px;
      border-radius: 4px;
      font-size: 12px;
      cursor: pointer;
      &:hover {
        background: $btnHover;
      }
    }
    button.btn_getMsg {
      background: #f6f6f6;
      border: none;
      outline: none;
    }
    input {
      display: block;
      width: 245px;
      height: 43px;
      border: none;
      background: $btnBg;
      outline: none;
      text-indent: 6px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      &:focus+p {
        display: block;
      }
      &::placeholder {
        color: #c2c2c2;
      }
      &.sm-input {
        width: 140px;
      }
      &:disabled {
        cursor: default;
        background: #efefef;
        color: #999;
      }
      &[type='submit'] {
        width: 100%;
        background: $subBg;
        border-radius: 4px;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        &:hover {
          background: $subHover;
        }
      }
    }
    span {
      display: block;
      width: 96px;
      height: 43px;
      cursor: pointer;
      margin-left: 9px;
      img {
        display: block;
        width: 100%;
        height: 100%;
        border: none;
      }
    }
    p.tip-placeholder {
      display: none;
      position: absolute;
      font-size: 12px;
      color: #999;
      top: 100%;
      margin-top: 5px;
      left: 0;
      text-indent: 21px;
      background: url('../../assets/tip-bg.png') left center no-repeat;
      &.error-tip {
        display: block;
        color: $font-r;
        background-image: url('../../assets/input_tips_err_icon.png');
      }
      &.good-pwd {
        background-image: url('../../assets/good-pwd.png');
      }
      &.midd-pwd {
        background-image: url('../../assets/midd-pwd.png');
      }
      &.weak-pwd {
        background-image: url('../../assets/weak-pwd.png');
      }
    }
    i.input-correct {
      content: '';
      // display: none;
      position: absolute;
      top: 50%;
      right: 15px;
      width: 13px;
      height: 13px;
      background: url('../../assets/input-correct.png') center no-repeat;
      transform: translateY(-50%);
    }
  }
  .checkbox-container {
    display: flex;
    align-items: center;
    width: 342px;
    height: 17px;
    text-align: left;
    margin: 0 auto 11px auto;
    position: relative;
    input[type='checkbox'] {
      width: 15px;
      height: 15px;
      float: left;
    }
    label {
      font-size: 12px;
      color: $grayBlack;
      height: 15px;
      line-height: 15px;
      background: none;
      user-select: none;
      margin-left: 4px;
      a {
        color: $link;
      }
      a:hover {
        color: $linkHover;
      }
    }
  }
  .mixed-text {
    width: 342px;
    height: 15px;
    text-align: right;
    margin: -20px auto 11px auto;
    span {
      font-size: 12px;
      color: $deepBlack;
      height: 15px;
      line-height: 15px;
      background: none;
      user-select: none;
      margin-left: 4px;
      a {
        color: $link;
      }
      a:hover {
        color: $linkHover;
      }
    }
  }
  .getVoice-container{
    // display: none;
  }
  .checkbox-container{
    label[for="agree-check"]{
      color: $deepBlack;
    }
  }
}
.act-reg {
  height: 596px;

  .layer-title {
    height: 24px;
    line-height: 24px;
    padding: 25px 0 16px;
  }
}

.reg-succ-win {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.success-layer{
  // margin-top 274
  margin-top: -137px;
  height: 274px;


  .layer-title{
    font-size: 18px;
    text-align: center;
    // line-height: 230px;
  }
  .reg-active {
    padding: 13px 0 28px;
    font-size: 14px;
    color: #666;
    line-height: 19px;
    text-align: center;
    span {
      color: #e22;
    }
  }

  input[type='button']{
    width: 212px;
    background: $subBg;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    height: 43px;
    border: none;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translateX(-50%);
    &:hover {
      cursor: pointer;
      background: $subHover;
    }
  }
}
#register-layer{
  .input-g{
    &:nth-of-type(1) label {
      letter-spacing: 3px;
      text-indent: -1px;
    }
    &:nth-of-type(2) label {
      letter-spacing: 5px;
      text-indent: 2px;
    }
    &:nth-of-type(3) label {
      letter-spacing: 5px;
      text-indent: 2px;
    }
  }
  .rig-gif {
    float: left;

  }
}
#login-layer{
  height: 420px;
  .input-g{
    &:nth-of-type(1) label {
      letter-spacing: 3px;
      text-indent: -1px;
    }
    &:nth-of-type(2) label {
      letter-spacing: 5px;
    }
  }
  .forget-pwd, .link-register {
    position: absolute;
    bottom: -28px;
    right: 0;
    color: $link;
    font-size: 12px;
    &:hover{
      color: $linkHover;
    }
  }
  .link-register{
    right: auto;
    left: 0;
  }
}

.pwd-layer {
  display: block;
  height: 260px;

  .input-g input[type="password"]{
    width: 100%;
  }
}
// 手機號選擇樣式
.phone_num {
  font-size: 12px;
  text-decoration: none;
}
.fn_up {
  display: none;
}
.show_phoen_area {
  display: none;
  position: absolute;
  left: 0;
  top: 42px;
  z-index: 100;
  background: #f6f6f6;
  box-sizing: border-box;
  width: 110.5px;

  .show_el {
    box-sizing: border-box;
    display: flex;
    padding: 0 5px;
    width: 100%;
    height: 30px;
    text-align: left;
    font-size: 14px;
    line-height: 30px;

    cursor: pointer;

    &:hover {
      background: #dcdada;
    }

    .show_area {
      display: inline-block;
      margin: 0 5px 0 0;
      // width: 50px;
      height: 100%;
      // font-size: 12px;
      // line-height: 16px;
      // transform: scale(0.8);
    }
    .show_num {
      display: inline-block;
      margin: 0;
      font-size: 12px;
      width: 36px;
      height: 100%;
      // line-height: 16px;
      // transform: scale(0.8);
    }
  }
  .show_active {
    background: #dcdada;
  }
}
