{include file="public:header" /}

<div class="autobox">
    <div class="now">
        <i class="fa fa-home fa-lg move mr5"></i><a href="/" class="">{:lang('ADDRESS')} </a> {:lang('FIND_TRAN_PWD')}</div>
    <div class="login_step">
        <div class="login_step">
            <ul class="order clear" style="margin-left: 312px;">
                <li><i class="fa fa-circle  fz_40 "><span>1</span></i>{:lang('FIND_TRAN_PWD_CONFIRM_ID')}<div class="order_line"></div></li>
                <li><i class="fa fa-circle  fz_40 "><span>2</span></i>{:lang('FIND_TRAN_PWD_RESET')}<div class="order_line"></div></li>
                <li><i class="fa fa-circle  fz_40 move"><span>3</span></i>{:lang('FIND_TRAN_PWD_FINISHED')}</li>
            </ul>
        </div>
    </div>
    <div class="reg_box">
        <div class="reg_su">
            <div class="reg_su_title"><i class="fa fa-check mr5 fz_40"></i>{:lang('TRAN_PWD_SUCCESS')}</div>
            <div class="reg_info">
                <div class="auto_btn mb35 mt50">
                    <a href="/user/index.html" class="center btns2">{:lang('SAFE')}</a>

                    <div class="right_side"></div>
                </div>

            </div>
        </div>
    </div>
</div>


<script>
	$('#index_box').addClass('active');
</script>


{include file="public:footer" /}