@import "../../styles/animation/transition.scss";

.reset-pwd-win {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  // padding: 10px;
  width: 100%;
  height: 100%;

  h3 {
    line-height: 74px;
    font-size: 24px;
    font-weight: 300;
  }

  img,
  input {
    outline: none;
    border: none;
    background: transparent;
  }



  .do-step {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 23px 60px 26px;

    & > div {
      // margin-right: 10px;
      position: relative;

      .step-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        // width: 70px;
        color: #c5c5c5;
        height: 50px;
        text-align: center;

        span {
          display: inline-block;
          margin-bottom: 11px;
          width: 24px;
          line-height: 24px;
          color: #c5c5c5;
          font-weight: 600;
          border-radius: 50% 50%;
          background: #f2f2f2;
        }

        p {
          font-size: 13px;
        }
      }

      .dash-line {
        position: absolute;
        top: 13px;
        right: -74px;
        display: block;
        width: 88px;
        height: 0;
        border-bottom: 1px dashed #d2d2d2;
      }

      &:nth-child(1) {
        .dash-line {
          right: -73px;
        }
      }

      &:nth-child(2) {
        .dash-line {
          right: -80px;
        }
      }

      &:nth-child(3) {
        .dash-line {
          width: 90px;
          right: -80px;
        }
      }
    }

    .act-step {
      color: #fdbb02;

      .step-text {
        span {
          color: #fff;
          background: #ffbb03;
        }
        p {
          color: #ffbb03;
        }
      }
    }
  }

  .pwd-chk-form {
    // display: flex;
    // flex-direction: column;
    position: relative;
    &>p {
    }
    .short-tag {
      margin: 30px 0 0;
      display: flex;
      justify-content: space-between;
      position: relative;
      height: 43px;
      p {
        margin: 0;
        width: 230px;
      }

      img, button {
        display: inline-block;
        width: 103px;
        height: 43px;
        border: none;

        &:hover {
          cursor: pointer;
        }
      }

      button {
        padding: 0;
        border-radius: 5px;
        background: #f6f6f6;
      }
    }
    p {
      position: relative;
      display: flex;
      // justify-content: space-between;
      margin: 25px 0 0;
      width: 342px;
      font-size: 14px;
      line-height: 43px;
      border: 1px solid  transparent;
      border-radius: 5px;
      background: #f6f6f6;

      span {
        // padding: 0 13px;
        width: 100px;
        flex-shrink: 0;
        color: #666;
        text-align: center;
      }
      input, .minx-phone {
        text-align: left;
        padding: 0 9px;
        width: 100%;
        flex-shrink: 2;
        &::placeholder {
          color: #c2c2c2;
        }
      }
      .submit-btn {
        width: 100%;
        line-height: 43px;
        text-align: center;
        font-size: 16px;
        color: #fff;
        border-radius: 5px;
        border: none;
        outline: none;
        background: #4267b2;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .sure-phone {
      margin: 0;
      background: none;

      .voice-code {
        position: absolute;
        right: 0;
        top: 45px;
        font-size: 12px;
        color: #999;
        display: none;
        //  rgb(254, 128, 5);
        .voice-btn {
          color: #36c;
          &:hover {
            cursor: pointer;
          }
        }
        b {
          display: none;
        }
      }
      .voice-code-act {
        color: rgb(254, 128, 5);

        b {
          display: inline-block;
        }

        .voice-btn {
          color: rgb(254, 128, 5);
          &:hover {
            cursor: auto;
          }
        }
      }
    }

    .disabled-dom {
      &:hover {
        cursor: not-allowed;
      }
    }

    .warn-tips-win {
      display: none;
      position: absolute;
      left: 0;
      bottom: -23px;
      width: 100%;
      font-size: 12px;
      line-height: 23px;
      color: #999;
      text-align: left;
      text-indent: 9px;

      &:before {
        content: "";
        display: inline-block;
        margin-right: 4px;
        width: 11px;
        height: 11px;
        background: url(../../assets/input_tips_icon_3x.png) center center no-repeat;
        background-size: cover;
      }
    }
    .err-warn-win {
      color: #e22;
      &:before {
        background-image: url(../../assets/input_tips_err_icon.png);
      }
    }
    .weak-pwd, .midd-pwd, .good-pwd {
      &:before {
        position: relative;
        bottom: -5px;
        width: 15px;
        height: 17px;
      }
    }
    .weak-pwd {
      &:before {
        background-image: url(../../assets/weak-pwd.png);
      }
    }
    .midd-pwd {
      color: #999;
      &:before {
        background-image: url(../../assets/midd-pwd.png);
      }
    }
    .good-pwd {
      color: #999;
      &:before {
        background-image: url(../../assets/good-pwd.png);
      }
    }
    .succ-win {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .succ-icon {
        margin: 39px 0 13px;
        width: 40px;
        height: 40px;
        background: url(../../assets/fixed_success_icon.png) center center no-repeat;
      }
      &>div:nth-child(2) {
        font-size: 18px;
      }
    }
    .succ-btn {
      margin-top: 26px;
    }
    .err-input {
      // box-sizing: border-box;
      border: 1px solid #ee2222;
    }
  }
}
// 手機號選擇樣式
.phone_num {
  font-size: 12px;
  text-decoration: none;
}
.fn_up {
  display: none;
}
.show_phoen_area_reset {
  display: none;
  position: absolute;
  left: 0;
  top: 70px;
  z-index: 100;
  background: #f6f6f6;
  box-sizing: border-box;
  width: 110.5px;

  .show_el {
    box-sizing: border-box;
    display: flex;
    padding: 0 5px;
    width: 100%;
    height: 30px;
    text-align: left;
    font-size: 14px;
    line-height: 30px;

    &:hover {
      background: #dcdada;
    }
    .show_area {
      display: inline-block;
      margin: 0 5px 0 0;
      // width: 50px;
      height: 100%;
      // font-size: 12px;
      // line-height: 16px;
      // transform: scale(0.8);
    }
    .show_num {
      display: inline-block;
      margin: 0;
      font-size: 12px;
      width: 36px;
      height: 100%;
      // line-height: 16px;
      // transform: scale(0.8);
    }
  }
  .show_active {
    background: #dcdada;
  }
}
