$minMidScreenWidth: 1024px;
$maxMidScreenWidth: 1365px;

// 驼峰命名法
$mainTitleCol: #fff;
$mainTitleFrontSize: 100px;
$baseFrontCol: #565656;
$hoverBgCol: #333;
$baseWhite: #fff;
$baseOrangeCol:#e3493c;

$grayBlack: #999;
$norBlack: #666;
$deepBlack: #333;

// 涨跌幅颜色
$upCol: #fd373b;
$downCol: #3dc18e;


//链接颜色
$link: #3366cc;
$linkHover: #598aee;

//提交按钮蓝颜色
$subBg: #4267b2;
$subHover: #3156a1;

//按钮灰色背景
$btnBg: #f6f6f6;
$btnHover: #efefef;

//警告红
$font-r: #ee2222;
