@import "../config.scss";
@import "../color.scss";
// @import "./register_767.scss";

.reg_mask_contain_767, .reg_mask_contain_1200 {
  width: 100%;
  height: 100%;
}
//区域选择
.fn_active {
  background:$gray350;
}
//手機號
.register_phone_img {
  background: url('../../assets/user/user_phone.svg') no-repeat center center;
}
//密碼
.register_pwd_img {
  background: url('../../assets/user/user_login_password.svg') no-repeat center center;
}
//圖形驗證碼
.register_ver_img {
  background: url('../../assets/user/user_captcha.svg') no-repeat center center;
}
// 郵箱
.register_email_img {
  background: url('../../assets/svg/user_email.svg') no-repeat center center;
}
//手機證碼
.register_mes_img {
  background: url('../../assets/user/user_code.svg') no-repeat center center;
}
//pc
// 1200px 以上 使用px
// @media screen and(min-width: $mdScreenMin) {
  .register_email_img {
    background-size: 24px;
  }
  .show_phone {
    display: none!important;
  }

  .register_dom {
    display: block;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // height: 120%;

    .reg_mask_contain {
      background-color: rgba(0,0,0,.5);
    }
    .reg_mask_contain_767 {
      display: none;
    }
    .reg_mask_contain_1200 {
      display: block;
      opacity: .5;
    }
    .register_pc_reg {
      display: flex;
    }
    .register_phone_reg {
      display: none;
    }
    .register_pc_alert {
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 1;
      z-index: 99;
      transform: translate(-50%,-50%);
      width: 452px;
      border-radius: 8px;
      .switch-tab {
        display: flex;
        height: 99px;
        align-items: center;
        padding: 0 48px;
        font-size: 20px;
        color: #333;
        justify-content: center;
        li {
          width: 50%;
          text-align: center;
          padding-bottom: 20px;
          cursor: pointer;
          border-bottom: 2px solid #dcdcdc;
          user-select: none;
          &.selected {
            border-bottom: 2px solid #ffbb03;
            color: #ffbb03;
          }
        }
      }
      .register_alert_close {
        display: inline-block;
        position: absolute;
        right: 25px;
        top: 18px;
        width: 18px;
        height: 18px;
        background: url('../../assets/reg/register_alert_close.png') no-repeat;
        cursor: pointer;
      }
      .register_h3 {
        display: block;
        position: relative;
        height: 79px;
        line-height: 79px;
        text-align: center;
        font-size: 24px;
      }
      .register_border_div {
        border-bottom: 1px solid #dcdcdc;
        &.register_focus {
          position: relative;
          &::before {
            position: absolute;
            bottom: 0;
            // left: 0;
            left: 50%;
            transform: translate(-50%, 0);
            content: '';
            // width: 100%;
            animation: .3s inputFocus;
            animation-fill-mode: forwards;
            height: 1px;
            background: $yellow500;
            // box-shadow: 0px 0px 3px $yellow500;
          }
        }
      }
      .reigster_input_group {
        // margin-bottom: pxToRem(20);
        position: relative;
        margin: 0 auto;
        padding: 4px;
        width: 342px;
        height: 43px;
        // border: 1px solid #666;
        // border-bottom: 1px solid #dcdcdc;
        // border-radius: 4px;
        .register_label {
          height: 100%;
          line-height: 100%;
          .register_phone_span {
            height: 43px;
          }
          .register_img {
            display: inline-block;
            padding:0 13px;
            width: 20px;
            height: 24px;
          }
          .register_imgs {
            width: 20px;
          }
          .register_area {
            text-align: center;
            line-height: 43px;
          }
        }
        .register_two_label {
          width: 118px;
        }
        .register_input {
          padding-left: 1px;
          border: none;
          height: 98%;
          width: 100%;
          font-size: 14px;
        }
        .register_input_right {
          background: url('../../assets/reg/input-correct.png') no-repeat 90% center;
          background-size: 16px 16px;
        }
        .register_img_ver {
          width: 96px;
          .register_img_btn {
            background: #fff;
            width: 94px;
            height: 39px;
            font-size: 12px;
            border-radius: 3px;
            white-space: nowrap;
          }
          .register_send {
            border: 1px solid $orange500;
          }
        }
        .register_area_list {
          z-index: 50;
          position: absolute;
          left: -1px;
          top: 51px;
          padding-top: 12px;
          // width: 130px;
          width: 100%;
          max-height: 300px;
          overflow-y: auto;
          background: $white100;
          border:1px solid $gray100;
          border-radius: 4px;
          // box-shadow: 0px 7px 17px $gray350;
          cursor: pointer;
          .register_font {
            padding: 0 5px;
            font-size: 16px;
            line-height: 40px;
            .register_area_name {
              max-width: 80%;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            &:hover {
              background: $gray350;
            }
          }
          .register_area_code {
            margin-left: 15px;
            width: 56px;
          }
        }
      }
      .register_mes_voice {
        text-align: right;
        margin-right: 55px;
        margin-bottom: 9px;
      }

      .register_user_agreement {
        position: relative;
        .register_check {
          padding: 0 55px;
          height: 46px;
          line-height: 46px;
          font-size:14px;
          .register_checkbox {
            margin: 0;
            vertical-align: text-bottom;
          }
        }
        .register_over_login {
          text-align: right;
        }
        .register_agreemetn_font {
          font-size: 12px;
        }
      }
      //登录
      .register_login {
        position: relative;
        margin-top: 12px;
        width: 342px;
        height: 43px;
        font-size: 18px;
        border-radius: 3px;
        border: none;
        color: #fff;
        &:hover {
          transition: .5s;
          background: $orange600;
        }
      }
      .register_warp_btn {
        margin-bottom: 35px;
      }
      .reg_btm_line {
        margin: 0 auto;
        width: 342px;
      }
      .register_go_login {
        display: block;
        padding-bottom: 34px;
        text-align: right;
        line-height: 35px;
        font-size: 12px;
      }
    }

    //忘记密码
    .forget_pwd_alert{
      width: 438px;
      .register_h3 {
        .register_alert_left {
          left: 536px;
        }
      }
      .forget_pwd_step {
        display: none;
      }
      .forget_pwd_step_pc {
        margin-bottom: 46px;
      }
      .forget_pwd_step_div {
        min-width: 65px;
        text-align: center;
        position: relative;
        .forget_pwd_nums {
          display: inline-block;
          width: 24px;
          height: 24px;
          line-height: 24px;
          border-radius: 50%;
          background: $gray200;
          color: $gray600;
          text-align: center;
        }
        .forget_pwd_name {
          line-height: 34px;
          height: 34px;
          font-size: 13px;
        }
        .forget_pwd_u {
          position: absolute;
          left: 70%;
          top: 20%;
          width: 89px;
          height: 1px;
          border-bottom: 1px dashed $gray300;
        }
        .active_step_nums {
          background: $orange500;
          color: $white100;
        }
        .active_step_name {
          color: $orange500;
        }
      }
      .forgetTwo_phone {
        width: 342px;
        margin: 0 auto 16px;
      }
      .forget_warp_btn {
        margin-bottom: 38px;
      }
    }
  }

  .register_dom_mob {
    height: 120%;
  }
  //输入框错误class
  .tip-txt {
    margin: 0 auto 9px;
    padding-left: 16px;
    width: 342px;
    line-height: 17px;
    height: 17px;
    font-size: 12px;
  }
  // .err_all .err_input {
  //   border-bottom: 1px solid $red500!important;
  // }
  .register_input_div {
    border-bottom: 1px solid #dcdcdc;
  }
  //错误提示
  .register_input_mes {
    margin: 0 auto 9px;
    margin-left: 40px;
    width: 342px;
    line-height: 17px;
    height: 17px;
    font-size: 12px;
  }
  //短信部分错误提示
  .register_input_mes_code {
    // margin-bottom: 9px;
    // margin-left: 92px;
    // margin-right: 55px;
    margin: 0 auto 9px;
    width: 358px;
    line-height: 17px;
    height: 17px;
    font-size: 12px;
    .register_input_code {
      display: inline-block;
      padding-left: 16px;
    }
  }
  //提示框部分
  .err_tip {
    background: url('../../assets/input_tips_err_icon.png') no-repeat left center;
    background-size: 11px 11px;
  }
  .err_warin {
    background: url('../../assets/input_tips_icon.png') no-repeat left center;
    background-size: 11px 11px;
  }
  //密码强弱
  .min_tip {
    display: inline-block;
    vertical-align:text-top;
    width: 15px;
    height: 17px;
    background: url('../../assets/user/pwd_weak.svg') no-repeat left center;
    background-size: 13px 13px;
  }
  .middle_tip {
    display: inline-block;
    vertical-align:text-top;
    width: 15px;
    height: 17px;
    background: url('../../assets/user/pwd_midd.svg') no-repeat left center;
    background-size: 13px 13px;
  }
  .max_tip {
    display: inline-block;
    vertical-align:text-top;
    width: 15px;
    height: 17px;
    background: url('../../assets/user/pwd_strong.svg') no-repeat left center;
    background-size: 13px 13px;
  }
  // 未勾选弹窗
  .register_agreemt_uncheck {
    position: absolute;
    z-index: 55;
    top:-22px;
    left: 37px;
    // width: 105px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    .register_content {
      padding: 0 5px;
      border: 1px solid #666;
      border-radius: 4px;
    }
  }
  // 协议三角
  .register_sj {
    z-index: 56;
    display: block;
    position: absolute;
    transform:rotate(-45deg) translate(-50%, 0);
    bottom:-2px;
    left: 6%;
    width: 10px;
    height: 10px;
    border-left: 1px solid #666;
    border-bottom: 1px solid #666;
    background: #fff;
  }
  // 加载
  .loading-svg {
    display: inline-block;
    position: absolute;
    margin-left: 10px;
    left: 30%!important;
    top: 10px;
    width: 20px;
    height: 20px;

    &::before {
      content: "";
      display: inline-block;
      width:20px;
      height:20px;
      background: url('../../assets/loading.svg') center center no-repeat;
      background-size: 20px 20px;
    }
  }
  //注册成功弹窗
  .register_success_bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 30;
    width: 100%;
    height: 100%;
  }
  .register_alert_bg {
    background: rgba(0, 0, 0, .5);
  }
  .register_success {
    width: 452px;
    // height: 245px;
    border-radius: 10px;
    background: url('../../assets/email-active-succ.png') no-repeat center / 100%;
    .register_header_close {
      position: relative;
      height: 37px;
      z-index: 31;
      .register_close_btn {
        display: inline-block;
        position: absolute;
        z-index: 31;
        top: 20px;
        right: 20px;
        width: 19px;
        height: 19px;
        background: url("../../assets/close_btn_icon.png") no-repeat;
        background-size: 19px;
        cursor: pointer;
      }
    }
    .regsiter_suc_mes {
      margin-top: 44px;
      text-align: center;
      font-size: 24px;
      padding: 24px 32px;
    }
    .register_btn_div {
      width: 100%;
      height: 43px;
      .reigster_go_login {
        height: 100%;
        width: 212px;
        border-radius: 4px;
      }
    }
  }

    .modal_wrapper {
      display: flex;
      align-items: center;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 30;
    }
    .modal_content {
      box-sizing: border-box;
      background: #fff;
      border-radius: 4px;
    }
    .modal_top {
      position: relative;
      width: 438px;
      height: 190px;
      // border-radius: 10px;
      &.modal_top_email_succ {
        background: url('../../assets/email-active-succ.png') no-repeat center / 100%;
      }
      &.modal_top_email_fail {
        background: url('../../assets/email-active-fail.png') no-repeat center / 100%;
      }
      &.modal_top_phone_succ {
        background: url('../../assets/phone-active-succ.png') no-repeat center / 100%;
      }
      &.modal_top_repwd_succ {
        background: url('../../assets/repwd-succ.png') no-repeat center / 100%;
      }
      &.modal_top_sent_email {
        background: url('../../assets/active-again.png') no-repeat center;
        background-size: contain;
      }
      .modal_close_btn {
        position: absolute;
        z-index: 31;
        top: 20px;
        right: 20px;
        width: 19px;
        height: 19px;
        background: url("../../assets/close_btn_icon.png") no-repeat;
        background-size: 19px;
        cursor: pointer;
      }
    }

    .modal_main_con {
      width: 438px;
      box-sizing: border-box;
      text-align: center;
      color: #666;
      box-sizing: border-box;

      .modal_main_txt {
        font-size: 14px;
        padding: 23px 64px;
        &.modal_main_txt_b {
          border-bottom: 3px dashed #dcdcdc;
          margin-bottom: 0;
          text-align: left;
        }
      }
      button {
        display: block;
        width: 331px;
        height: 43px;
        color: #fff;
        margin-bottom: 47px;
      }
      .no_email_btn {
        cursor: pointer;
        text-align: center;
        color: #008cff;
        height: 58px;
        line-height: 58px;
      }
      .remail_div {
        padding: 0 36px 29px 36px;
        ul {
          text-align: left;
          list-style-type: disc;
          li {
            list-style-type: disc;
            &:not(:last-child) {
              margin-bottom: 5px;
            }
          }
        }
        .blue_txt {
          color: #008cff;
          cursor: pointer;
        }
      }
    }
    //google
    .google_modal {
      z-index: 101;
      position: absolute;
      width: 452px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  .service_goo {
    width: 100%;
  }
// }
