@import "./fun.scss";
@import "./theme.scss";
@import "./config.scss";
@import "./nav.scss";
@import "./alert.scss";
@import "./user.reset.scss";
@import "./user.condition.scss";

.rf-content {
  // margin-bottom: pxToRem(30);
  padding: 0;
  bottom: auto;
}
section{
  height: 100%;
}
.mob-rf-content {
  // margin-top: pxToRem(39);
  //
  // .mob-cont-contain {
  //   .u-condition {
  //     box-shadow: none;
  //     padding: 0 pxToRem(24);
  //   }
  //   .coin-cor {
  //     .cor-rf {
  //       position: relative;
  //
  //       .mob-sel-coin {
  //         box-sizing: border-box;
  //         padding: 0 pxToRem(30);
  //         width: 100%;
  //         height: pxToRem(94);
  //         text-transform: uppercase;
  //         border: 1px solid #c1c1c1;
  //
  //       }
  //       .coin-list {
  //         box-sizing: border-box;
  //         display: none;
  //         position: absolute;
  //         left: 0;
  //         right: 0;
  //         top: pxToRem(94);
  //         z-index: 10;
  //         height: 100%;
  //         width: pxToRem(700);
  //         line-height: pxToRem(94);
  //         font-size: pxToRem(30);
  //         background-color: #fff;
  //         box-shadow: 0 0 35px #ddd;
  //         overflow-y: scroll;
  //
  //         &>span {
  //           box-sizing: border-box;
  //           display: block;
  //           margin: 0;
  //           padding: 0 pxToRem(24);
  //           line-height: pxToRem(94);
  //           width: 100%;
  //           border-bottom: 1px solid #c1c1c1;
  //         }
  //       }
  //
  //       .chk-addr {
  //         flex-direction: column;
  //         padding: pxToRem(42) 0 0 0;
  //
  //         &>div {
  //           width: 100%;
  //         }
  //         .addr-lf {
  //           flex-direction: column;
  //           justify-content: center;
  //           align-items: center;
  //
  //           .code-addr-text {
  //             padding: pxToRem(15) 0;
  //             line-height: pxToRem(35);
  //             text-align: center;
  //             font-size: pxToRem(26);
  //           }
  //           a {
  //             width: 100%;
  //             line-height: pxToRem(94);
  //           }
  //         }
  //
  //         .qr-code-img {
  //           margin: 0;
  //           width: pxToRem(216);
  //           height: pxToRem(216);
  //
  //           .succ-img {
  //             position: static;
  //             width: pxToRem(216);
  //             height: pxToRem(216);
  //           }
  //         }
  //         img {
  //           width: 100%;
  //           height: 100%;
  //         }
  //       }
  //       .addr-rf {
  //         margin: pxToRem(40) 0 0 0;
  //         padding: 0;
  //         border: none;
  //
  //         h5 {
  //           margin: 0;
  //           padding: 0 0 pxToRem(16);
  //           font-size: pxToRem(30);
  //         }
  //         p {
  //           margin-bottom: pxToRem(4);
  //           font-size: pxToRem(28);
  //           line-height: pxToRem(40);
  //         }
  //       }
  //     }
  //   }
  //   .u-riches {
  //     padding: pxToRem(30) pxToRem(24) pxToRem(20);
  //     height: auto;
  //     line-height: pxToRem(40);
  //   }
  // }

  // .coin-in-table {
  //   height: 100%;
  //   overflow-x: auto;
  //   overflow-y: visible;
  //   margin-bottom: pxToRem(100);
  //
  //   table {
  //     padding: 0 pxToRem(24);
  //     min-width: 150%;
  //     font-size: pxToRem(30);
  //
  //     tbody, thead {
  //
  //       tr {
  //         td {
  //           box-sizing: border-box;
  //           padding: 0 pxToRem(15);
  //           width: 25%;
  //           font-size: pxToRem(30);
  //           white-space: nowrap;
  //           &:first-child {
  //             padding: 0 pxToRem(15) 0 pxToRem(24);
  //           }
  //           &:last-child {
  //             padding: 0 pxToRem(24) 0 pxToRem(15);
  //           }
  //         }
  //       }
  //     }
  //   }
  //
  //   tbody {
  //     line-height: pxToRem(108);
  //
  //     tr {
  //
  //       .order-btn, .disable-btn {
  //         padding: 0;
  //         text-align: center;
  //         width: pxToRem(130);
  //         height: pxToRem(57);
  //         line-height: pxToRem(57);
  //         font-size: pxToRem(30);
  //       }
  //     }
  //   }
  //   .t-head {
  //     width: 100%;
  //     height: pxToRem(85);
  //
  //     thead {
  //       tr {
  //         td {
  //           height: pxToRem(85);
  //           line-height: pxToRem(85);
  //         }
  //       }
  //     }
  //   }
  //   .t-body {
  //     margin-bottom: pxToRem(15);
  //     height: 100%;
  //     overflow: visible;
  //
  //     tr {
  //       td {
  //
  //         padding: 0 pxToRem(15);
  //         white-space: nowrap;
  //       }
  //     }
  //   }
  //   .no-data {
  //     position: relative;
  //     height: pxToRem(330);
  //     background-image: url(../../assets/table_no_data_no_text.png);
  //     background-size: auto pxToRem(200);
  //     span {
  //       position: absolute;
  //       left: 0;
  //       right: 0;
  //       bottom: pxToRem(10);
  //       line-height: pxToRem(50);
  //       text-align: center;
  //       font-size: pxToRem(24);
  //     }
  //   }
  // }

  .tab-table {
    height: pxToRem(740);

    .t-body {
      margin-bottom: pxToRem(15);

      tr {
        td {
          white-space:nowrap;
          &:last-child {
            max-width: none;
          }
        }
      }
    }
  }
  .no-btm-shadow {
    box-shadow: 0 pxToRem(-6) pxToRem(6) rgba(150, 150, 150, 0.1);
  }
}
