@import "../../config.scss";
@import "../../color.scss";

// 响应式
//  @import "./user_realinfo_767.scss";
.bg_red {
	background: #ffbd09 !important;
	color: #eee;
	text-align: center;
}

.mplan_change_tab{
	border-bottom: 1px solid $gray90;
	height: 34px;
	line-height: 34px;
	.mplan_active_li {
		color: $orange500;
		background: $white500;
		border: 1px solid $gray90;
		border-bottom: 1px solid $gray50;
	}
	li {
		padding: 0 18px;
		height: 100%;
		cursor: pointer;
	}
}
#otc{
	.otcList{
		display:flex;
		justify-content: flex-start;
		align-items: center;
		background: #fff;
		padding-left: 38px;
		margin: 18px 0 20px;
		height: 70px;
		box-shadow: 0px 0px 5px #f6f6f6;
	}
	.minBtn {
		width: auto;
		padding: 0 5px;
		line-height: 21px;
		height: 21px;
		border-radius: 3px;
		text-align: center;
	}
	.mainBox{padding: 45px 25px 25px 35px;background: $white500;
		.bankBox{
			.login_text{
				margin-bottom: 15px;
				position: relative;
				.alert_wrap_title {
					min-width:70px;
					text-align: right;
					line-height: 40px;
					font-size: 14px;
					display: inline-block;
					color: gray;
				}
				select{min-width:174px;}
			}
			.login_button{padding:0  0 25px 74px;
				input{min-width: 362px;
					text-align: center;border:0;
					background:#ffbd09;
					color: #eee;
				}
			}
		}
		.addImg {
			width: 180px;height: 180px;
			display: inline-block;
			vertical-align:middle;
			position: relative;
			border: 1px solid #ebe9e9;
			&::before{
				content:"+";
				color:#ffbd09;
				display:inline-block;
				position: absolute;
				top:26%;left:50%;
				transform:translate(-50%);
				font-size:46px;
			}
			button{
				position: absolute;top:60%;left:50%;
				transform:translate(-50%);
			}
			[type="file"] {
				height: 100%;
				width: 100%;
				min-width: 100%;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 10;
				opacity: 0;padding:0;margin:0;
			
			}
			img {
				height: 100%;
				max-width: 100%;
				right: 0;
				background: none;
			}
			b {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				font-size: 19px;
				height: 28px;
				line-height: 30px;
				color: #eee;
				text-align: center;
			}
		}
		
	}
	.morePosition{
		display:flex;
		align-content: center;
		align-items:center;
		justify-content: space-between;
		flex-wrap:wrap;
		&>div{
			width:350px;
		}
		&>i{display:inline-block;width:2px;height:260px;background:#eee;;
			position: relative;top: 0;bottom: 0;}
	}
	.fr{float:right;}
	.off{
		padding: 12px 26px;
		border-radius: 10px;
		position: relative;
		top: -5px;
		i{
			padding: 11px;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			position: absolute;
			top: 1px;
			background: #eee;
		}
	}
}
input{
	vertical-align: middle;
	font-size: 14px;
	min-width: 350px;
	height: 40px;
	line-height: 36px;
	text-align: left;
	cursor: pointer;
	border-radius: 3px;
	padding: 0 5px;
	border:0;
	box-sizing:border-box;
}
button{cursor: pointer;}
[type=button]{text-align:center}
[type=text],[type=password]{
  vertical-align: middle;
  font-size: 14px;
  min-width: 350px;
  height:40px;
  line-height:36px;
  text-align: left;
  cursor: pointer;
  border-radius:3px;
  padding:0 5px;
  margin-right: 10px;
  border:1px solid #999;
}
.alertBox{background: rgba(10, 10, 10, 0.5);
	position: fixed;
	top:0;
	right: 0;
	width: calc(100% - 223px);
	height: calc(100%);
	z-index: 2;
	&>div{
		background:#fff;
		position: absolute;
		top:50%;left:50%;transform:translate(-50%);
		padding:10px;
		box-shadow: 0px 0 40px 5px #503f0f;
		border-radius: 5px;
	}
}
.isShow{display:none;}
.mb20{margin-bottom:20px;max-width:425px;}
.red{color:$yellow500;}
.errp{
	position: relative;
	.err{
		position: absolute;
		top: 10px;
		right: 16px;
	}
}


