<include file="Public:header" />
	<link rel="stylesheet" href="__PUBLIC__/Home/Actcss/style.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/Actcss/main_response.css">

	<div class="loadingDiv" id="loadingDiv">
		<p class="wiatTitle">请稍等...</p>
		<img src="__PUBLIC__/Home/ActImg/logo.png" alt="砸金蛋">
	</div>

	<div class="goldContent">
		<div class="headPage">
			<img class="headPage_Img" src="__PUBLIC__/Home/ActImg/indexPageImg.jpg" alt="砸金蛋" title="砸金蛋">
		</div>

		<div class="goldEggsDiv">
			<p class="tishiChouJiang">您好,请<span class="loginSpan">登录</span></p>
			<img class="centerPage_Img" src="__PUBLIC__/Home/ActImg/indexPageImg2.jpg" alt="砸金蛋" title="砸金蛋">
			<div class="list_EggsDiv"  id="carousel">
				<div>
					<ul class="jinDanUl" id="jinDanUl1">
						<li><img src="__PUBLIC__/Home/ActImg/egg.png" alt="egg1" title="快来砸我呀！"/></li>
						<li><img src="__PUBLIC__/Home/ActImg/egg.png" alt="egg2" title="快来砸我呀！"/></li>
						<li><img src="__PUBLIC__/Home/ActImg/egg.png" alt="egg3" title="快来砸我呀！"/></li>
					</ul>	
				</div>
	
				<div>
					<ul class="jinDanUl1" id="jinDanUl2">
						<li><img src="__PUBLIC__/Home/ActImg/egg.png" alt="egg4" title="快来砸我呀！"/></li>
						<li><img src="__PUBLIC__/Home/ActImg/egg.png" alt="egg5" title="快来砸我呀！"/></li>
						<li><img src="__PUBLIC__/Home/ActImg/egg.png" alt="egg6" title="快来砸我呀！"/></li>
					</ul>	
				</div>
			</div>
		<!-- 	<div class="brandStoreLeft slider">
			<div style="z-index: 0; left: 0px;"><img src="__PUBLIC__/Home/ActImg/2.jpg"></div>
			<div style="left: 313px; z-index: 0;"><img src="__PUBLIC__/Home/ActImg/1.jpg"></div>
			</div> -->
		</div>

		<div class="paiMingAllDiv list_Content">
			<div class="titleDiv">
				<div class="title_Div">
					<h3>金蛋榜单</h3>
				</div>
				<span class="line_1px"></span>
			</div>

			<div class="contentDiv">
				<div class="insert_Span"></div>
				<div class="list_PaiMing">
					<div class="list_Div">
						<div class="list_Title">
							<span class="list_Time">时间</span>
							<span class="list_Name">用户名</span>
							<span class="list_Things">金蛋大奖</span>
						</div>
						<div class="bg_Dashed"></div>

						<div class="all_List_Div">
							<ul class="ul_List1">
								<li>
									<span class="span_dateTime">15:00</span>
									<span class="span_userNme">daiwei</span>
									<span class="span_userWingName">500元红包大奖</span>
								</li>

								<li>
									<span class="span_dateTime">15:00</span>
									<span class="span_userNme">daiwei</span>
									<span class="span_userWingName">100元小惠钱包</span>
								</li>

								<li>
									<span class="span_dateTime">15:00</span>
									<span class="span_userNme">daiwei</span>
									<span class="span_userWingName">1000积分</span>
								</li>

								<li>
									<span class="span_dateTime">15:00</span>
									<span class="span_userNme">daiwei</span>
									<span class="span_userWingName">500元现金红包</span>
								</li>

								<li>
									<span class="span_dateTime">15:00</span>
									<span class="span_userNme">daiwei</span>
									<span class="span_userWingName">500元红包大奖</span>
								</li>

								<li>
									<span class="span_dateTime">15:00</span>
									<span class="span_userNme">daiwei</span>
									<span class="span_userWingName">100元小惠钱包</span>
								</li>

								<li>
									<span class="span_dateTime">15:00</span>
									<span class="span_userNme">daiwei</span>
									<span class="span_userWingName">1000积分</span>
								</li>

								<li>
									<span class="span_dateTime">15:00</span>
									<span class="span_userNme">daiwei</span>
									<span class="span_userWingName">500元现金红包</span>
								</li>

								<li>
									<span class="span_dateTime">15:00</span>
									<span class="span_userNme">daiwei</span>
									<span class="span_userWingName">500元红包大奖</span>
								</li>

								<li>
									<span class="span_dateTime">15:00</span>
									<span class="span_userNme">daiwei</span>
									<span class="span_userWingName">100元小惠钱包</span>
								</li>
							</ul>
							<ul class="ul_List2">
								<li>
									<span class="span_dateTime">15:00</span>
									<span class="span_userNme">daiwei</span>
									<span class="span_userWingName">500元红包大奖</span>
								</li>

								<li>
									<span class="span_dateTime">15:00</span>
									<span class="span_userNme">daiwei</span>
									<span class="span_userWingName">100元小惠钱包</span>
								</li>

								<li>
									<span class="span_dateTime">15:00</span>
									<span class="span_userNme">daiwei</span>
									<span class="span_userWingName">1000积分</span>
								</li>

								<li>
									<span class="span_dateTime">15:00</span>
									<span class="span_userNme">daiwei</span>
									<span class="span_userWingName">500元现金红包</span>
								</li>

								<li>
									<span class="span_dateTime">15:00</span>
									<span class="span_userNme">daiwei</span>
									<span class="span_userWingName">500元红包大奖</span>
								</li>

								<li>
									<span class="span_dateTime">15:00</span>
									<span class="span_userNme">daiwei</span>
									<span class="span_userWingName">100元小惠钱包</span>
								</li>

								<li>
									<span class="span_dateTime">15:00</span>
									<span class="span_userNme">daiwei</span>
									<span class="span_userWingName">1000积分</span>
								</li>

								<li>
									<span class="span_dateTime">15:00</span>
									<span class="span_userNme">daiwei</span>
									<span class="span_userWingName">500元现金红包</span>
								</li>

								<li>
									<span class="span_dateTime">15:00</span>
									<span class="span_userNme">daiwei</span>
									<span class="span_userWingName">500元红包大奖</span>
								</li>

								<li>
									<span class="span_dateTime">15:00</span>
									<span class="span_userNme">daiwei</span>
									<span class="span_userWingName">100元小惠钱包</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="rulesActivity list_Content">
			<div class="titleDiv">
				<div class="title_Div">
					<h3>活动细则</h3>
				</div>
				<span class="line_1px"></span>
			</div>

			<div class="list_Rules">
				<i class="right_img"></i>
				<i class="left_img"></i>
				<ul>
					<li>1.所有实名的女性会员，3月8日活动当天，免费获得8次砸金蛋机会，超过免费次数，<span class="color_red">按50积分/砸</span>扣除积分获取抽奖机会；</li>
					<li>2.奖项设置：现金券、小惠钱包和积分等，奖池内大奖含有现金券500元、小惠钱包100元、1000积分等；</li>
					<li>3.奖品为实时发放，请会员自行前往个人中心查看获取奖品；</li>
					<li>4.客服免费咨询热线：123456789、邮箱：185098535@qq.com（工作日：09：00-17：30）；</li>
					<li>5.本活动最终解释权归Ifmisswqq所有。</li>
				</ul>
			</div>
		</div>

		<div class="footerImg">
			<img src="__PUBLIC__/Home/ActImg/bottom.png" alt="砸金蛋活动">
		</div>
	</div>
</body>
<!-- <script  data-main="__PUBLIC__/Home/ActJs/do_main.js" src="__PUBLIC__/Home/ActJs/jquery-2.1.0.min.js"></script> -->
<script src="__PUBLIC__/Home/ActJs/require.js"></script>

<script>
	var dis = 0;
	function autoWinsList(){
		dis++;
		$('.all_List_Div').scrollTop(dis);
		if ($('.all_List_Div').scrollTop()>=$('.ul_List1').height()) {
			dis = 0;
			$('.all_List_Div').scrollTop(dis);
		}
	}
	var myset=setInterval("autoWinsList()",50);
</script>
<script type="text/javascript">
//加载loading效果
document.onreadystatechange=function completeLoading(){
	var tishi = document.getElementById('loadingDiv');
  	if (document.readyState=='complete') {
  		tishi.hide();
	}
}
</script>
</html>