
<include file="Public:header"/>
<div id="main-content">
	<div id="top-alert" class="fixed alert alert-error" style="display: none;">
		<button class="close fixed" style="margin-top: 4px;">&times;</button>
		<div class="alert-content">警告内容</div>
	</div>
	<div id="main" class="main">
		<div class="main-title-h">
			<span class="h1-title">提现记录</span>
			<notempty name="name">
				<span class="h2-title">>><a href="{:U('Finance/mytx')}">提现列表</a></span>
			</notempty>
		</div>
		<div class="cf">
			<div class="fl">
				<eq name="group_id" value="3">
					<button class="btn ajax-post confirm btn-danger " url="{:U('Finance/mytxStatus',array('type'=>'del'))}" target-form="ids">删 除</button></eq>
				<button class="btn btn-success" url="{:U('Finance/mytxExcel')}" target-form="ids" id="submit" type="submit">导出选中</button>
				<eq name="mytx" value="1">
					<button class="btn ajax-post confirm btn-danger" url="{:U('Finance/myuptx',array('type'=>0))}" target-form="ids">关闭提现</button>
					<else />
					<button class="btn ajax-post confirm btn-danger" url="{:U('Finance/myuptx',array('type'=>1))}" target-form="ids">开启提现</button>
				</eq>
			</div>

			<div class="search-form fr cf">
				<div class="sleft">
					<form name="formSearch" id="formSearch" method="get" name="form1">
						<select style="width: 160px; float: left; margin-right: 10px;" name="status" class="form-control">
							<option value="0" <empty name="Think.get.status">selected</empty>>全部</option>
							<option value="1" <eq name="Think.get.status" value="1">selected</eq>>未处理</option>
							<option value="2" <eq name="Think.get.status" value="2">selected</eq>>已提现</option>
							<option value="3" <eq name="Think.get.status" value="3">selected</eq>>已撤销</option>
							<option value="4" <eq name="Think.get.status" value="4">selected</eq>>正在处理</option>
						</select>
						<select style=" width: 160px; float: left; margin-right: 10px;" name="field" class="form-control">
							<option value="username" <eq name="Think.get.field" value="username">selected</eq>>用户名</option>
							<option value="tradeno"	<eq name="Think.get.field" value="tradeno">selected</eq>>订单号</option>
						</select>
						<input type="text" name="name" class="search-input form-control  " value="{$Think.get.name}" placeholder="请输入查询内容" style="">
						<a class="sch-btn" href="javascript:;" id="search"> <i class="btn-search"></i> </a>
					</form>
					<script>
						//搜索功能
						$(function () {
							$('#search').click(function () {
								$('#formSearch').submit();
							});
						});
						//回车搜索
						$(".search-input").keyup(function (e) {
							if (e.keyCode === 13) {
								$("#search").click();
								return false;
							}
						});
					</script>
				</div>
			</div>
		</div>
		<div class="data-table table-striped">
			<form id="form" action="{:U('Finance/mytxExcel')}" method="post" class="form-horizontal">
				<table class="">
					<thead>
					<tr >
						<th colspan="2" style="background-color:#009200">
							共{$count}条记录
						</th>
						<th colspan="2" style="background-color:#009200">
							提现总金额{$summum|default="0"}元
						</th>
					</tr>
					<tr>
						<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
						<th class="">ID</th>
						<th class="">用户名</th>
						<th class="">真实姓名</th>
						<th class="">提现金额</th>
						<th class="">提现手续费</th>
						<th class="">到账金额</th>
						<th class="">提现时间</th>
						<th class="">提现姓名</th>
						<th class="">提现银行</th>
						<!--<th class="">提现银行省份</th>
						<th class="">提现银行城市</th>-->
						<th class="">提现银行支行</th>
						<th class="">提现银行账号</th>
						<th class="">状态</th>
						<th class="">操作人</th>
						<th class="">操作</th>
						<th class="">是否加急</th>

					</tr>
					</thead>
					<tbody>
					<notempty name="list">
						<volist name="list" id="vo">
							<tr>
								<td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}"/></td>
								<td>{$vo.id}</td>
								<td>{$vo['username']}</td>
								<td>{$vo['truename']}</td>
								<td>{$vo.num}</td>
								<td>{$vo.fee}</td>
								<td>{$vo.mum}</td>
								<td>{$vo.addtime|addtime}</td>
								<td>{$vo.truename}</td>
								<td>{$vo.bank}</td>
								<!--<td>{$vo.bankprov}</td>
								<td>{$vo.bankcity}</td>-->
								<td>{$vo.bankaddr}</td>
								<td>{$vo.bankcard}</td>
								<td>
									<eq name="vo.status" value="0">未处理</eq>
									<eq name="vo.status" value="1">已提现</eq>
									<eq name="vo.status" value="2">已撤销</eq>
									<eq name="vo.status" value="3">正在处理</eq>
								</td>
								<td>{$vo.czr}</td>
								<td>
									<eq name="vo.status" value="0">
										<a onclick="chuli({$vo['id']})" href="#" class="ajax-get btn btn-primary btn-xs">处理 </a>
										<a onclick="chexiao({$vo['id']})" href="#" class="ajax-get btn btn-info btn-xs">撤销 </a>
									</eq>
									<eq name="vo.status" value="3">
										<a onclick="qrtx({$vo['id']})" href="#" class="ajax-get btn btn-success btn-xs">已提现 </a>
									</eq>
								</td>
								<td>
								<if condition="$vo.urgent eq 1">
									<a  class="ajax-get btn btn-success btn-xs" style="color:white;background: red;">加急 </a>
								<else />
									<a  class="ajax-get btn btn-success btn-xs">普通 </a>
								</if>
								</td>
							</tr>
						</volist>
						<else/>
						<td colspan="17" class="text-center">暂时无数据!</td>
					</notempty>
					</tbody>
				</table>
			</form>
			<div class="page">
				<div>{$page}</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	//提交表单
	$('#submit').click(function () {
		$('#form').submit();
	});
</script>
<include file="Public:footer"/>
<block name="script">
	<script type="text/javascript" charset="utf-8">
		//导航高亮
		highlight_subnav("{:U('Finance/mytx')}");

        //港币处理
        function chuli(id) {
            layer.confirm('是否成功操作处理？', {
                btn: ['确定','还未处理'] //按钮
            }, function(){
                $.get("{:U('Finance/mytxChuli')}", {
                    id: id,
                }, function (data) {
                    if (data.status == 1) {
                        layer.msg(data.info, {icon: 1});
                        window.location.reload();
                    } else {
                        layer.msg(data.info, {icon: 2});
                        if (data.url) {
                            window.location = data.url;
                        }
                    }
                }, "json");

            }, function(){
                layer.msg('请处理后再确认处理', {
                    time: 3000, //3s后自动关闭
                });
            });
        }

        //港币撤销
        function chexiao(id) {
            layer.confirm('是否成功操作撤销？', {
                btn: ['确定','还未撤销'] //按钮
            }, function(){
                $.get("{:U('Finance/mytxChexiao')}", {
                    id: id,
                }, function (data) {
                    if (data.status == 1) {
                        layer.msg(data.info, {icon: 1});
                        window.location.reload();
                    } else {
                        layer.msg(data.info, {icon: 2});
                        if (data.url) {
                            window.location = data.url;
                        }
                    }
                }, "json");

            }, function(){
                layer.msg('请撤销后再确认撤销', {
                    time: 3000, //3s后自动关闭
                });
            });
        }

        //港币提现
        function qrtx(id) {
            layer.confirm('是否成功操作提现？', {
                btn: ['确定','还未提现'] //按钮
            }, function(){
                $.get("{:U('Finance/mytxQueren')}", {
                    id: id,
                }, function (data) {
                    if (data.status == 1) {
                        layer.msg(data.info, {icon: 1});
                        window.location.reload();
                    } else {
                        layer.msg(data.info, {icon: 2});
                        if (data.url) {
                            window.location = data.url;
                        }
                    }
                }, "json");

            }, function(){
                layer.msg('请提现后再确认提现', {
                    time: 3000, //3s后自动关闭
                });
            });
        }
	</script>
</block>