@import "./animation.scss";
@import "./color.scss";
@import "./fontIcon.scss";

[v-cloak] {
  display: none!important;
}

html,body {
  margin: 0;
  width: 100%;
  // height: 100%;
  font-family: 'Microsoft YaHei', Helvetica, Arial, simhei, sanserif;
  font-size: 14px;
  // overflow-y: auto;
  min-width: 1200px;
  min-height: 700px;
}

.min_cot {
  min-width: 1200px;
  min-height: 700px;
}

h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dd,dt,p {
  margin: 0;
  padding: 0;
}
ul,li,ol,dl,dd,dt {
  list-style: none;
}

p {
  word-wrap: break-word;
}

input {
  padding: 0;
  outline: none;
}

a {
  text-decoration: none;
}
button {
  border: none;
  outline: none;
  background-color: transparent;
  &:hover {
    cursor: pointer;
    outline: none;
  }
}
// 清除浮动 父元素用此class
.clearFix {
  &:after {
    content: "";
    display: table;
    width: 0;
    height: 0;
    font-size: 0;
    clear: both;
  }
}

.over_ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
//左边margin 0
.margin_left_z {
  margin-left: 0!important;
}
//右边margin 0
.margin_right_z {
  margin-right: 0!important;
}
// 相对定位元素
.relative_dom {
  position: relative;
}
// 绝对定位元素
.abs_dom {
  position: absolute;
}
.no_scroll_body {
  overflow: hidden;
}

.hide_dom {
  display: none!important;
}
//没有边框
.no_boder {
  border: none;
}
// 大写
.upper_word {
  text-transform: uppercase;
}

// 不可选择文字
.no_sel {
  user-select: none;
}

.default_btn {
  width: 100%;
  height: 38px;
  line-height: 38px;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
  user-select: none;
}

.more_hv_icon {

  &:after {
    transform: rotateZ(-180deg) scaleX(1.2);
    transition: all .3s;
  }
}
