@import "swiper/dist/css/swiper.css"; // init css
@import "./config.scss";


.bannerTitle{position:relative;
  left:50%;transform:translate(-50%,50%);margin-top:71px;
  color:#a2abb8;font-size:30px;display:inline-block;z-index:2;;}

.swiper-container {
  overflow: hidden;
  width:80%;
  height:calc(100% - 60px);
  max-height:330px;
  position: relative;z-index: 2;
  top:80px;
  background:rgba(29, 40, 59, 0.1);
}

.swiper-slide {
  box-sizing: border-box;
  // max-height:100%;;
  height:85%;
  img{width:100%;max-width:490px;height:100%;max-height:100%;;border-radius:10px;}
}
.swiper-button-prev, .swiper-button-next {
  position: absolute;
  z-index:100;
  width: 46px;
  height: 46px;
  opacity:0;
  outline: none;
  top:7%;
  height:100%;max-height:174px;
  background-size:80%;
  padding:0 3%;
  transition: all 1s;
  &:hover {
    opacity: 0.5;
  }
  &:active {
    opacity: 0.5;
  }
}
.swiper-button-prev{
  left:0%;
  background: url(../assets/left_arr.png) center center no-repeat;
}

.swiper-button-next {
  right:0%;
  background: url(../assets/right_arr.png) center center no-repeat;
}
.swiper-pagination-bullet {
  background: #00457f;
}
.swiper-pagination-bullet-active {
  background: #008aff;
}
.swiper-container-horizontal >.swiper-pagination-bullets {
  bottom:20px;
  left: 50%;
  transform: translate(-50%, 0);
}
