@keyframes upData {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-15px);
  }
}
@keyframes upDataMin {
  0% {
    transform: translateY(8px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-8px);
  }
}
@keyframes downData {
  0% {
    transform: translateY(-15px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(15px);
  }
}
@keyframes downDataMin {
  0% {
    transform: translateY(-8px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(8px);
  }
}


.up-array {
  animation: upData 2s infinite;
}
.down-array {
  animation: downData 2s infinite;
}
