@import "../common/theme.scss";
@import "./index.scss";
@import "../animation/transition.scss";
@import "./coinInTable.scss";

.candy-header{
  background: $mainTitleCol;
  margin-top: 21px;
  padding-left: 32px;
  .candy-header-top{
    padding: 23px 0;
    span{
      display: inline-block;
      line-height: 24px;
      font-size: 14px;
    }
    ul{
      margin-left: 30px;
      display: inline-block;
      vertical-align: top;
      li{
        margin-right: 10px;
        height: 24px;
        float: left;
        a{
          padding: 0 20px;
          display: inline-block;
          line-height: 24px;
          color: $norBlack;
        }
        a.active,a:hover{
          background: #ffbd09;
          color: $mainTitleCol;
          border-radius: 2px;
          @include transition(all, .3s);
        }
      }
    }
  }
  .header-header-bottom{
    padding-bottom: 17px;
    p{
      display: inline-block;
      span{
        line-height: 39px;
        font-size: 14px;
        padding-top: 10px;
        display: inline-block;
      }
      i{
        font-family: Arial;
        min-width: 327px;
        line-height: 49px;
        display: inline-block;
        padding-left: 30px;
        font-size: 36px;
        font-style: normal;
        &.green{
          color: #01b21a;
        }
        &.red{
          color: #ee2222;
        }
      }
    }
  }
}
.candy_tips_get {
  font-size: 16px;
  color: #666;
  padding: 0 13px;
  line-height: 22px;
  padding-top: 40px;
}
.candy_green {
  text-align: center;
  color: #01b21a;
  padding-bottom: 32px;
  font-size: 14px;
}
#dataBody tr td a{
  text-align: center;
  display: inline-block;
  min-width: 50px;
  padding: 0 5px;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  border-radius: 2px;
  &.noraml_get{
    border: 1px solid #ddd;
    color: #666;
  }
  &.not_get{
    border: 1px solid transparent;
    background: #eee;
    color: #bfbfbf;
    cursor: not-allowed;
  }
  &.noraml_get:hover{
    border: 1px solid transparent;
    color: #fff;
    background: #4267b2;
    @include transition(all, .3s);
  }
}
