
<link rel="stylesheet" href="/comfile/css/play.css"/>
<script type="text/javascript" src="/comfile/js/jquery.min.js"></script>
<script src="/comfile/js/play.js"></script>
<div id="dialog_ali" class="mana-app styled-pane">
	<div class="mana-app-title" style="line-height: 34px;">
		{:lang('WEIXIN_REMITTANCE')}
		<span id="wait">
			{eq name="mycz.status" value="0"}
				（ {:lang('UNPAID')} |
				<a  class="red"  onclick="myczHuikuan({$mycz['id']})" href="javascript:void(0)">	 {:lang('REMITTED')}
				</a>)
			{/eq}
			{eq name="mycz.status" value="1"}( {:lang('RECHARGE_SUCCESSFUL')} ){/eq}
			{eq name="mycz.status" value="2"}( {:lang('MANUAL_PRO')} ){/eq}
			{eq name="mycz.status" value="3"}( {:lang('IN_PROCESS')} ){/eq}
		</span>
	</div>
	<div class="lighttips">{:lang('WEIXIN_ASK')}
		<!--<a href="http://wpa.qq.com/msgrd?v=3&amp;uin={$C['contact_qq'][0]}&amp;site=qq&amp;menu=yes" target="_blank">联系客服</a>-->
		<a href="/Order/index" target="_blank">{:lang('CONTACT_SERVICE')}</a>
	</div>
	<div class="tableParent">
		<div class="mana-app-table info">
			<div>
				<b>{:lang('OFFICIAL_ACCOUNT')}：</b>
				<span>{$myczType.username}</span>
			</div>
			<div>
				<b>{:lang('NAME_ACCOUNT')}：</b>
				<span>{$myczType.truename}</span>
			</div>
			<div>
				<b>{:lang('ADDRESS_ACCOUNT')}：</b>
				<span>{$myczType.kaihu}</span>
			</div>
			<div>
				<b>{:lang('PAYMENT_AMOUNT')}：</b>
				<span id="right_cny">{$mycz.num}</span>
			</div>
			<div>
				<b>{:lang('ORDER_NUM')}：</b>
				<span class="cnyin_msg">{$mycz.tradeno}</span>
			</div>
		</div>
		{notempty name="myczType['img']"}
			<div class="pay_code">
				<img src="__DOMAIN__/Upload/public/{$myczType['img']}">
				<!--<p style="font-size: 14px; margin-top: 8px;">{:lang('ONLINE_WECHAT_ACCOUNT')}</p>-->
				<!--<p style="font-size: 14px; line-height: 30px;">{:lang('CODE_FOR_TRANSFER')}</p>-->
			</div>
		{/notempty}
	</div>
	<div class="pay_con">
		<p>{:lang('ORDER_NUM_TIP')}：<b class="cnyin_msg"">{$mycz.tradeno}</b>
			<br>{:lang('ORDER_NUM_TIP2')}<br>{:lang('ORDER_NUM_TIP3')}
		</p>
	</div>
</div>
<script>
function myczHuikuan(id) {
	$.post("{:url('Finance/myczHuikuan')}", {id: id}, function (data){
		if (data.status == 1) {
			layer.msg(data.info, {icon: 1});
			window.location.reload();
		} else {
			layer.msg(data.info, {icon: 2});
		}
	}, "json");
}
</script>