<include file="Public:header" />

<div class="autobox">
	<div class="now">
		<i class="fa fa-home fa-lg move mr5"></i>
		<a href="/" class="">{:L('ADDRESS')} </a> &gt;
		<a href="/user/index.html" class="">{:L('SAFE')} </a> &gt;{:L('LOGIN_PWD')}
		</div>
	<div class="main-content">
		<style>

</style>
<include file="User:left" />
	<div class="tag-list-content assets_content bg_w" style="min-height:510px;">
		<h1 class="safe_center clear">
			<span>{:L('LOGIN_PWD')}</span>
			<!--<span>-->
			<!--<a class="right" onclick="$('#hints').slideToggle();">-->
			<!--<i class="fa fa-hand-o-right move fz_14 mr5"></i><span class="fz_12 move">{:L('DETAILED_INFO')}</span></a>-->
			<!--</span>-->
		</h1>
		<div id="hints" class="mytips" style="display:none;">
			<notempty name="prompt_text">{$prompt_text}</notempty>		
		</div>
		<div class="mytable-body pwtrade  ">
			<p class="red fa fa-check" style="margin:85px 0 10px 205px;font-size:16px">{:L('LOGIN_PWD_CHANGE_REGULAR')}
			</p>
			<dl>
				<dt>{:L('LOGIN_PWD_OLD')}：</dt>
				<dd>
					<input type="password" id="oldpassword" class="texts" tabindex="1">
					<a href="/Login/findpwd" class="red">{:L('FORGET')}?</a>
				</dd>
			</dl>
			<dl>
				<dt>{:L('LOGIN_PWD_NEW')}：</dt>
				<dd>
					<input type="password" id="newpassword" tabindex="2">
				</dd>
			</dl>
			<dl>
				<dt>{:L('LOGIN_PWD_CONFIRM')}：</dt>
				<dd>
					<input type="password" id="repassword" tabindex="3">
				</dd>
			</dl>
			<dl>
				<dt></dt>
				<dd>
					<input type="button" tabindex="4" value="{:L('SAVE')}" onclick="password_up()">
				</dd>
			</dl>
		</div>
		</div>
	</div>
</div>
<script>


	function password_up() {
		var oldpassword = $('#oldpassword').val();
		var newpassword = $('#newpassword').val();
		var repassword  = $('#repassword').val();
		if (oldpassword ==false) {
			layer.tips("请输入旧登录密码", '#oldpassword', {tips: 2});
			return false;
		}
		if (newpassword ==false) {
			layer.tips("请输入新登录密码", '#newpassword', {tips: 2});
			return false;
		}
		if (repassword != newpassword) {
			layer.tips("确认密码错误", '#repassword', {tips: 2});
			return false;
		}

		$.post("/user/uppassword_qq.html", {
			oldpassword: oldpassword,
			newpassword: newpassword,
			repassword:repassword
		}, function (data) {
			if (data.status == 1) {
				layer.msg(data.info, {icon: 1});
				if (data.url) {
					window.location = data.url;
				} else {
					window.location.reload();
				}

			} else {
				layer.msg(data.info, {icon: 2});
				if (data.url) {
					window.location = data.url;
				}
			}
		}, 'json');
	}
</script>

<script>
	var hints = "0";
	if(hints == 1){
		$('#hints').show();
	}

	if ($("#user_box").length > 0) {
		$('#user_box').addClass('active');
	} else {
		$('#index_box').addClass('active');
	}
	$('.user_password').addClass('active');
	$('.finan_index').addClass('active');
</script>
<include file="Public:footer" />








