<include file="Public:header" />

<div class="autobox">
	<div class="now">
		<i class="fa fa-home fa-lg move mr5"></i>
		<a href="/" class="">{:L('ADDRESS')} </a> &gt;
		<a href="/user/index.html" class="">{:L('SAFE')} </a> &gt;{:L('TRAN_PWD')}
		</div>
	<div class="main-content">


<include file="User:left" />
	<div class="tag-list-content assets_content bg_w">
		<h1 class="safe_center clear">
			<span>{:L('TRAN_PWD')}</span>
			<span>
				<a onclick="step1();" id="step1" class="step fz_12 ml50 pd6 active">{:L('MODIFY_TRAN_PSW')}</a>
				<a onclick="step2();" id="step2" class="step fz_12 ml20 pd6">{:L('SET_AUTH_MODE')}</a>
			</span>
		</h1>
		<div id="hints" class="mytips" style="display:none;">
			<notempty name="prompt_text">{$prompt_text}</notempty>			
		</div>
		<div class="mytable-body  ">
			<div class="step1 pwtrade">
				<p class="red" style="margin:85px 0 10px 210px">{:L('TRAN_PWD_CHANGE_REGULAR')}</p>
				<dl>
					<dt>{:L('TRAN_PWD_OLD')}：</dt>
					<dd>
						<input type="password" tabindex="1" id="oldpaypassword" class="texts"><a href="/Findpwd/findpwd" class="move ml5">{:L('FORGET')}?</a>
					</dd>
				</dl>
				<dl>
					<dt>{:L('TRAN_PWD_NEW')}：</dt>
					<dd>
						<input type="password" tabindex="2" id="newpaypassword" class="texts">
					</dd>
				</dl>
				<dl>
					<dt>{:L('TRAN_PWD_CONFIRM')}：</dt>
					<dd>
						<input type="password" tabindex="3" id="repaypassword" class="texts">
					</dd>
				</dl>
				<dl>
					<dt></dt>
					<dd>
						<input type="button" tabindex="4" value="{:L('SAVE')}" onclick="paypassword_up()">
					</dd>
				</dl>
				
			</div>
			<div class="step2 set_verify" style="display:none;">
				<ul>
					<li>{:L('SET_AUTH_MODE')}:</li>
					<li>
						<input type="radio" name="tpwdsetting" value="1" style="vertical-align: -2px;"
						<eq name="user['tpwdsetting']" value="1">checked="checked"</eq>
						> {:L('TRAN_PWD_ONCE')}						</li>
					<li>
						<input type="radio" name="tpwdsetting" value="2" style="vertical-align: -2px;"
						<eq name="user['tpwdsetting']" value="2">checked="checked"</eq>
						> {:L('TRAN_PWD_EVERY')}						</li>
					<li>
						<input type="radio" name="tpwdsetting" value="3" style="vertical-align: -2px;"
						<eq name="user['tpwdsetting']" value="3">checked="checked"</eq>
						> {:L('TRAN_PWD_NONE')}						</li>
					<li>
						<div class="mt10 mb10 ">
							<input id="paypassword" style="width: 260px;" placeholder="{:L('TRAN_PWD_ENTER')}" type="password" class="texts"><a href="/Findpwd/findpwd" class="move ml5">{:L('FORGET')}?</a>
						</div>
					</li>
					<li class="mt20 mb10 ">
						<input value="{:L('SAVE')}" type="button" onclick="paypassword_set()">
					</li>
				</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	function step1() {
		$(".step").removeClass('active');
		$('#step1').addClass('active');
		$(".step2").hide();
		$(".step1").show();
	}
	function paypassword_up() {
		var oldpaypassword = $('#oldpaypassword').val();
		var newpaypassword = $('#newpaypassword').val();
		var repaypassword  = $('#repaypassword').val();

		if (oldpaypassword ==false) {
			layer.tips("{:L('TRAN_PWD_OLD_ENTER')}", '#oldpaypassword', {tips: 2});
			return false;
		}
		if (newpaypassword ==false) {
			layer.tips("{:L('TRAN_PWD_NEW_ENTER')}", '#newpaypassword', {tips: 2});
			return false;
		}
		if (repaypassword != newpaypassword) {
			layer.tips("{:L('TRAN_PWD_CONFIRM_ENTER')}", '#repaypassword', {tips: 2});
			return false;
		}

		$.post("/user/uppaypassword_qq.html", {
			oldpaypassword: oldpaypassword,
			newpaypassword: newpaypassword,
			repaypassword : repaypassword,
			type:1
		}, function (data) {
			if (data.status == 1) {
				layer.msg(data.info, {icon: 1});
				if (data.url) {
					window.location = data.url;
				} else {
					window.location.reload();
				}
			} else {
				layer.msg(data.info, {icon: 2});
				if (data.url) {
					window.location = data.url;
				}
			}
		}, "json");
	}
</script>
<script>

	function step2() {
		$(".step").removeClass('active');
		$('#step2').addClass('active');
		$(".step1").hide();
		$(".step2").show();
	}

	function paypassword_set() {
		var paypassword = $("#paypassword").val();
		var tpwdsetting = $("input[name='tpwdsetting']:checked").val();
		if (paypassword ==false) {
			layer.tips("{:L('TRAN_PWD_ENTER')}", '#paypassword', {tips:2});
			return false;
		}
		if (tpwdsetting ==false) {
			layer.tips("{:L('SELECT_ONE')}", '#tpwdsetting', {tips:2});
			return false;
		}

		$.post("/user/uptpwdsetting.html", {
			paypassword: paypassword,
			tpwdsetting: tpwdsetting,
			type:2

		}, function (data) {
			if (data.status == 1) {
				layer.msg(data.info, {icon: 1});
				if (data.url) {
					window.location = data.url;
				} else {
					window.location.reload();
				}
			} else {
				layer.msg(data.info, {icon: 2});
				if (data.url) {
					window.location = data.url;
				}
			}
		}, "json");
	}

	var hints = "0";
	if(hints == 1){
		$('#hints').show();
	}
	if ($("#user_box").length > 0) {
		$('#user_box').addClass('active');
	} else {
		$('#index_box').addClass('active');
	}
	$('.finan_index').addClass('active');
	$('.user_paypassword').addClass('active');
</script>



<include file="Public:footer" />





