{include file="Public:header" /}


<div class="autobox">
	<div class="now">
		<i class="fa fa-home fa-lg move mr5"></i><a href="/" class="">{:lang('ADDRESS')} </a>&gt; {:lang('REGISTERED_ACCOUNT')}	</div>

	<div class="reg_box">
		<div class="reg_wrap">
			<div class="reg_warning">
				<!-- <i class="fa fa-exclamation-sign mr5"></i> -->
				<span>{:lang('ACCOUNT_DETAIL_TIP')}</span>
			</div>
			<p class="login_text" style="display:none;">
				<span class="mask_wrap_title">用户名：</span>
				<input type="text" id="username" class="texts" placeholder="必须字母开头+数字格式">
			</p>
			<p class="login_text" style="display:none;">
				<span class="mask_wrap_title">手机：</span>
				<input type="text" id="moble" class="texts"/>
			</p>
			<p class="login_text">
				<span class="mask_wrap_title">{:lang('TRAN_PWD')}：</span>
				<input type="password" id="paypassword" class="texts" placeholder="{:lang('TRAN_PWD_P')}"/>
			</p>
			<p class="login_text">
				<span class="mask_wrap_title">{:lang('LOGIN_PWD_CONFIRM')}：</span>
				<input type="password" id="repaypassword" class="texts" placeholder="{:lang('TRAN_PWD_Ok')}" />
			</p>
			<!-- <br/> -->
			<div class="login_button">
				<input type="button"  value="{:lang('NEXT')}" onclick="paypassword_up();"/>
			</div>
		</div>
	</div>
</div>


<script>
	function paypassword_up() {
		//var username      = $("#username").val();
		//var moble         = $("#moble").val();
		var paypassword   = $("#paypassword").val();
		var repaypassword = $("#repaypassword").val();

		//if (username == "" || username == null) {
			//layer.tips("请输入用户名", '#username', {tips: 2});
			//return false;
		//}
		//if (moble == "" || moble == null) {
		//	layer.tips("请输入手机", '#moble', {tips: 2});
		//	return false;
		//}
		if (paypassword == "" || paypassword == null) {
			layer.tips("{:lang('TRAN_PWD_ENTER')}", '#paypassword', {tips: 2});
			return false;
		}
		if (repaypassword == "" || repaypassword == null) {
			layer.tips("{:lang('LOGIN_PWD_CONFIRM_INPUT')}", '#repaypassword', {tips: 2});
			return false;
		}
		if (paypassword != repaypassword) {
			layer.tips("{:lang('LOGIN_PWD_CONFIRM_WRONG')}", '#repaypassword', {tips: 2});
			return false;
		}

		$.post("{:url('/login/upregister2','','')}", {
			paypassword: paypassword,
			repaypassword:repaypassword,
			token: ""
		}, function (data) {
			if (data.status == 1) {
				layer.msg(data.msg, {
				    icon: 1,
					time:2000
				},function () {
                    window.location = "{:url('/Login/truename','','')}";
                });



			} else {
				layer.msg(data.info, {icon: 2});
				if (data.url) {
					window.location = data.url;
				}
			}
		}, "json");
	}
</script>

{include file="Public:footer" /}



