@import "../config.scss";
@import "../left/left.scss";
@import "../color.scss";
@import "../theme.scss";

// @media screen and(min-width: $bigScreenMax) {

.fn_bg_content {
  min-height: 877px;
  overflow: visible;
}
.active-tab {
  color: $deepBlue300;
}
// @media screen and(min-width: $superScreenMin) {
  .rf_main {
    padding: 0 45px 45px 40px;
    width: 100%;
    overflow-y: hidden;
  }

  .nav-crumbs {
    height: 60px;
    line-height: 60px;
  }

  .condition_container {
    padding: 23px 0;
  }
  // 币种列表
  .coin_list_con {
    width: 100%;

    & > span {
      margin: 0 0 6px 13px;
      display: inline-block;
      box-sizing: border-box;
      height: 24px;
      line-height: 24px;
      padding: 0 12px;
      text-align: center;
      border-radius: 5px;
    }

      .list_tit {
        flex-grow: 0;
        // width: 120px;
        text-indent: 32px;
        text-align: left;
      }

      .list_item {
        width: 100%;

        & > span {
          margin: 0 0 10px 13px;
          display: inline-block;
          box-sizing: border-box;
          height: 24px;
          line-height: 24px;
          padding: 0 12px;
          text-align: center;
          border-radius: 5px;
          user-select: none;

          &:hover {
            color: #fff;
            background: #ffbd09;
            cursor: pointer;
            transition: all .35s;
          }
        }

        .sel-coin,
        .sel_coin {
          color: #fff;
          background: #ffbd09;
          cursor: default;
        }
      }
    }
    // 时间晒算

    .time_condition {
      margin: 22px 0 18px;
      flex-wrap: wrap;
      flex-shrink: 0;
      // flex-grow: 1;
      line-height: 36px;

      .condition_list > button,
      input,
      span {
        margin-bottom: 8px;
      }

      button,
      input {
        border: 0;
        outline: 0;
        height: 36px;

        &:last-child {
          margin-right: 0;
        }
      }

      button {
        margin: 0 10px 10px 0;
        min-width: 90px;
        text-align: center;
        border-radius: 5px;
        color: $gray500;
        background: #fff;
        box-shadow: 0 3px 3px rgba(0,0,0,.04);

        &:hover {
          color: #666;
          background: #e4e4e4;
          transition: all .35s;
        }
      }

      .act_btn {
        color: #fff;
        background: #4168b2;

        &:hover {
          color: #fff;
          background: #4168b2;
          cursor: default;
        }
      }

      input[type="text"] {
        box-sizing: border-box;
        position: relative;
        margin: 0;
        width: 203px;
        padding: 0 32px 0 20px;
        background: transparent;
        z-index: 3;
      }

      .date_icon {
        display: inline-block;
        position: relative;
        margin: 0 10px 0 0;
        height: 36px;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.04);
        border-radius: 5px;
        // overflow: hidden;
        background: #fff;

        &:after {
          content: "";
          position: absolute;
          top: 0;
          right: 12px;
          z-index: 1;
          display: inline-block;
          width: 18px;
          height: 36px;
          background: url("../../assets/date_icon.png") center center no-repeat;
        }
      }
    }
  // }
