$icomoon-font-path: "fonts" !default;

$account_icon: \e900;
$dobi_logo_icon: \e901;
$home_icon: \e902;
$lang_icon: \e903;
$logout_icon: \e904;
$order_ok_icon: \e905;
$reg_mes_icon: \e906;
$reg_phone_icon: \e907;
$reg_pwd_icon: \e908;
$reg_ver_icon: \e909;
$trade_center_icon: \e90a;
$updownArrow_icon: \e90b;
$user_close_icon: \e90c;
$user_icon_icon: \e90d;
$user_login_password_icon: \e90e;
$user_pay_password_icon: \e90f;
$user_phone_icon: \e910;
$user_real_name_icon: \e911;
$user_setpwd_icon: \e912;
$user_success_icon-path1: \e91b;
$user_success_icon-path2: \e91c;
$user_warin_icon: \e91d;
$arrowdown_icon: \e913;
$arrowup_icon: \e914;
$cheveron_down_icon: \e915;
$cheveron_up_icon: \e916;
$close_icon: \e917;
$exclamation_outline_icon: \e918;
$minus_outline_icon: \e919;
$minus_solid_icon: \e91a;

