//状态
$font-r: #ee2222;
$font-g: #3dc18e;
$font-y: #ffbb03;

$font-rr:#4f0304;
$font-gg:#013926; 
//灰度
$font-l: #999;
$font-m: #666;
$font-d: #333;
$lighter-dark :#b0b0b0;
//按钮
$btn-r: #fc394c;
$btn-g: #3dc18e;
$btn-hover-r: #dd3949;
$btn-hover-g: #2ea778;
$head-r: #340101;
$head-g: #002a1c;


//链接
$link: #3366cc;
$link-dis: #333;

//表格
$table-bg: #191919;

//侧边栏交易规则
$rule-bg: #1d1d1d;
