@import "../common/theme.scss";
@import "../animation/transition.scss";
@import "./index.scss";

.au_warn_title {
  color: $norBlack;

  & > b {
    display: inline-block;
    margin-right: 6px;
    width: 12px;
    height: 12px;
    text-align: center;
    line-height: 12px;
    font-size: 9px;
    color: #f00;
    border: 1px solid #f00;
    border-radius: 50%;
  }
}

.auto-statu {
  margin: 38px 0 25px;

  span {
    &:nth-child(1) {
      color: $norBlack;
      margin-right: 23px;
    }
  }

  .orange-s {
    color: #ffbb03;
  }
  .green-s {
    color: #90b71b;
  }
  .red-s {
    color: #ee2222;
  }
}

.auto-form {
  .form-list {
    position: relative;
    margin-bottom: 29px;
    display: flex;
    justify-content: space-between;
    width: 342px;
    line-height: 43px;
    border-radius: 3px;
    background: #f6f6f6;

    &:last-child {
      margin: 0;
    }

    span {
      color: $norBlack;
      flex-shrink: 0;
      letter-spacing: 4px;
      padding-left: 13px;
    }

    .nor-let {
      letter-spacing: normal;
    }

    input,
    select {
      text-align: left;
      text-indent: 0;
      padding: 0 10px 0 13px;
      width: 100%;
      line-height: 43px;
      border: none;
      background: transparent;
      outline: none;
    }
    option {
      height: 43px;
      line-height: 43px;
      background: $baseWhite;
    }

  }
  .input-tips {
    display: none;
    position: absolute;
    left: 0;
    top: 43px;
    padding-left: 13px;
    line-height: 22px;
    color: $grayBlack;
    font-size: 12px;

    &:before {
      content: "";
      vertical-align: middle;
      display: inline-block;
      margin-right: 4px;
      width: 12px;
      height: 22px;

      background: url(../../assets/input_tips_icon.png) center 4px no-repeat;
    }
  }

  .input-tips-err {
    color: #ee2222;
    &:before {
      background-image: url(../../assets/input_tips_err_icon.png);
    }
  }
  .select-contain {
    position: absolute;
    left: 0;
    right: 0;
    top: 43px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 43px;

    &>div {
      border-bottom: 1px solid $baseWhite;
      background: #f6f6f6;

      &:hover {
        cursor: pointer;
        background: $baseOrangeCol;
        @include transition(all, .3s);
      }
    }
  }
  .sel-tab {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: 19px;
      right: 15px;
      display: inline-block;
      width: 0;
      height: 0;
      font-size: 0;
      line-height: 0;
      border: 6px solid transparent;
      border-top-color: $grayBlack;
    }
  }
}

.id_img {
  display: flex;
  // justify-content: space-between;
  padding: 16px 0 0;

  .img_col {
    box-sizing: border-box;
    margin-right: 39px;

    .img_title {
      line-height: 30px;
      text-align: center;
    }

    img {
      display: block;
      position: relative;
      z-index: 1;
      width: 273px;
      height: 161px;
      border: 1px solid #eee;
    }

    .file_inp {
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 33;
      width: 273px;
      height: 161px;
      opacity: 0;

      &:hover {
        cursor: pointer;
      }
    }

    .file_par {
      position: relative;
      background: url("../../assets/cert_front.png") center center no-repeat;
      background-size: 100% 100%;
    }

    .back_face {
      background-image: url("../../assets/cert_back.png");
    }

    .hand_keey {
      background-image: url("../../assets/cert_handkeey1.png");
    }

    .file_btn {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 20;
      width: 100%;
      color: white;
      text-align: center;
      line-height: 28px;
      height: 28px;
      background: #77baf3;

      .upload_file_icon {
        display: inline-block;
        margin-left: 7px;
        position: relative;
        bottom: 0;
        width: 15px;
        height: 15px;
        background: url("../../assets/upload_file.png") center center no-repeat;
      }
    }

    .correct_statu {
      height: 28px;
      background: #01b21a;

      .upload_file_icon {
        height: 28px;
        background-image: url("../../assets/right_icon.png");
      }
    }
  }

  .del_img {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 35;
    width: 22px;
    height: 22px;
    background: url("../../assets/del_file_i.png") center center no-repeat;

    &:hover {
      cursor: pointer;
    }
  }
}

.img_tips {
  padding: 23px 0;
  font-size: 12px;
  color: #999;
  .realinfo_red{
    color: #f00;
  }
}

.submit_btn {
  width: 333px;
  padding: 11px 0;
  color: white;
  font-size: 16px;
  text-align: center;
  border-radius: 3px;
  border: none;
  background-color: #4267b2;
  @include transition(all .9s ease);

  &:hover {
    cursor: pointer;
    background-color: #3057a1;
    @include transition(all .9s ease);
  }
  &:disabled {
    cursor: not-allowed;
  }
}

.info-show {
  box-sizing: border-box;
  margin-top: 18px;
  width: 662px;
  height: 213px;
  padding: 20px 24px;
  border-radius: 3px;
  background: #f6f6f6;
  overflow: auto;

  p {
    color: $grayBlack;
    line-height: 43px;
    span {
      padding-right: 21px;
      color: $deepBlack;
    }
  }
}

.use-msgshow {
  display: none;

  .submit_btn {
    margin-top: 28px;
    display: inline-block;
  }
}


.dialog_mo {
  .au_dialog {
    // position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    .close_btn {
      display: block;
      position: absolute;
      top: 18px;
      right: 18px;
      width: 18px;
      height: 18px;
      background: url(../../assets/close_btn_icon.png) center center no-repeat;

      &:hover {
        cursor: pointer;
      }
    }
    p {
      font-size: 16px;
      padding-bottom: 25px;
    }

    .submit_btn {
      padding: 0;
      width: 212px;
      line-height: 43px;
    }
  }
}
@media screen and (min-width: $minMidScreenWidth) and (max-width: $maxMidScreenWidth) {
  .auto-form {
    .form-list {
      margin-bottom: 22px;
    }
    .last-form-list {
      margin-bottom: 0;
    }
  }
  .id_img {
    padding-top: 10px;

    .img_col {
      img, .file_inp {
        width: 170px;
        height: 100px;
      }
    }

  }
  .auto-statu {
    margin: 10px 0;
  }
}
