@import "../common/theme.scss";

.page-list {
  flex-shrink: 0;
  display: flex;
  // justify-content: flex-start;
  margin: 10px 0 0 0;
  height: 39px;


  ul {
    display: flex;
    justify-content: space-between;

    li {
      margin-right: 8px;
      color: $grayBlack;
      line-height: 39px;

      &:last-child {
        margin: 0;
      }
    }

    .pre-page, .next-page {
      a {
        background: #fff url(../../assets/next_page_icon.png) center center no-repeat;
      }
    }
    .pre-page {
      a {
        transform: rotateZ(180deg);
      }
    }

    a {
      display: inline-block;
      // width: 39px;
      width: auto;
      min-width: 39px;
      height: 39px;
      line-height: 39px;
      font-size: 12px;
      text-align: center;
      color: $grayBlack;
      background: #fff;
      box-shadow: 0 0 10px rgba(0,0,0,0.06);

      &:hover {
        background-color: #efefef;
        transition: all .3s;
      }
    }
    .act-page {
      color: $baseWhite;
      background: #4267b2;

      &:hover {
        background-color: #4267b2;
        transition: all .3s;
      }
    }
    .pageActive {
      color: $baseWhite;
      background: #4267b2;

      &:hover {
        cursor: default;
        background-color: #4267b2;
        transition: all .3s;
      }
    }
  }
  .page-form {

    margin-left: 22px;
    font-size: 12px;
    color: $grayBlack;

    input, button {
      display: inline-block;
      box-sizing: border-box;
      padding: 0 5px;
      width: 39px;
      height: 39px;
      text-align: center;
      border: none;
      outline: none;
      background: #fff;
      box-shadow: 0 0 10px rgba(0,0,0,0.06);
    }
    button {
      margin-left: 10px;
      color: #fff;
      background: #4267b2;

      &:hover {
        cursor: pointer;
        background: #3057a1;
        transition: all .3s;
      }
    }
  }
}
