{include file="public:header" /}
<script src="__PUBLIC__/Admin/js/layer/laydate/laydate.js"></script>
<div id="main-content">
	<div id="top-alert" class="fixed alert alert-error" style="display: none;">
		<button class="close fixed" style="margin-top: 4px;">&times;</button>
		<div class="alert-content">警告内容</div>
	</div>
	<div id="main" class="main">
		<div class="main-title-h">
			<span class="h1-title">成交记录</span>
		</div>
		<div class="cf">
			<div class="fl"></div>
			<div class="search-form fr cf">
				<div class="sleft">
					<form name="formSearch" id="formSearch" method="get" name="form1">

						<input type="text" class="search-input form-control  " name="addtime" value="{$Request.param.addtime}" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" placeholder="开始时间">
						<input type="text" class="search-input form-control  " name="endtime" value="{$Request.param.endtime}" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" placeholder="结束时间" style="margin-right: 10px;">

						<select style="width: 160px; float: left; margin-right: 10px;" name="order" class="form-control">
							<option value="" {empty name="$Request.param.order"}selected</empty>>订单类型</option>
							<option value="1" {eq name="$Request.param.order" value="1"}selected{/eq}>用户订单</option>
							<option value="2" {eq name="$Request.param.order" value="2"}selected{/eq}>商家订单</option>
						</select>

						<select style="width: 160px; float: left; margin-right: 10px;" name="status" class="form-control">
							<option value="" {empty name="$Request.param.status"}selected</empty>>全部状态</option>
							<option value="0" {eq name="$Request.param.status" value="0"}selected{/eq}>交易中</option>
							<option value="1" {eq name="$Request.param.status" value="1"}selected{/eq}>已成交</option>
							<option value="2" {eq name="$Request.param.status" value="2"}selected{/eq}>已撤销</option>
							<option value="3" {eq name="$Request.param.status" value="3"}selected{/eq}>已付款</option>
						</select>

						<select style=" width: 160px; float: left; margin-right: 10px;" name="field" class="form-control">
							<option value="buyuser" {eq name="$Request.param.field" value="buyuser"}selected{/eq}>买家用户名</option>
							<option value="selluser" {eq name="$Request.param.field" value="selluser"}selected{/eq}>卖家用户名</option>
							<option value="buytradeno" {eq name="$Request.param.field" value="buytradeno"}selected{/eq}>买家订单号</option>
							<option value="selltradeno" {eq name="$Request.param.field" value="selltradeno"}selected{/eq}>卖家订单号</option>
							<option value="czr" {eq name="$Request.param.field" value="czr"}selected{/eq}>操作人</option>
						</select>
						<input type="text" name="name" class="search-input form-control  " value="{$Request.param.name}" placeholder="请输入查询内容" style="">
						<a class="sch-btn" href="javascript:;" id="search"> <i class="btn-search"></i> </a>
					</form>
					<script>
						//搜索功能
						$(function () {
							$('#search').click(function () {
								$('#formSearch').submit();
							});
						});
						//回车搜索
						$(".search-input").keyup(function (e) {
							if (e.keyCode === 13) {
								$("#search").click();
								return false;
							}
						});
					</script>
				</div>
			</div>
		</div>
		<div class="data-table table-striped">
			<table class="">
				<thead>
				<tr >
					<th colspan="2" style="background-color:#009200">共{$weike_count}条记录</th>
					<th colspan="2" style="background-color:#009200">总成交量{$weike_num}</th>
					<th colspan="2" style="background-color:#009200">卖出手续费总额{$weike_fee}</th>
				</tr>
				<tr>
					<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
					<th class="">ID</th>
					<th class="">买家</th>
					<th class="">卖家</th>
					<th class="">币种</th>
					<th class="">单价</th>
					<th class="">数量</th>
					<th class="">买家真实名</th>
					<th class="">买家订单</th>
					<th class="">买家银行卡</th>
					<th class="">买家银行卡号</th>
					<th class="">订单类型</th>
					<th class="">卖家真实名</th>
					<th class="">卖家订单</th>
					<th class="">卖家银行卡</th>
					<th class="">卖家银行卡号</th>
					<th class="">类型</th>
					<th class="">时间</th>
					<th class="">状态</th>
					<th class="">操作</th>
					<th class="">操作人</th>
					<th class="">备注</th>
				</tr>
				</thead>
				<tbody>
				{notempty name="list"}
					{volist name="list" id="vo"}
						<tr class="list_tr">
							<td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}"/></td>
							<td>{$vo.id}</td>
							<td class="usertype" style="display: none;">{notempty name="vo['usertype']"} {$vo['usertype']}{/notempty}</td>
							<td>{$vo['buyuser']}</td>
							<td>{$vo['selluser']}</td>
							<td>{$vo['coinname']}</td>
							<td>{$vo['price']|NumToStr}</td>
							<td>{$vo['num']|NumToStr}</td>
							<td>{$vo['buytruename']}</td>
							<td>{$vo['buytradeno']}</td>
							<td>{$vo['buybank']}</td>
							<td>{$vo['buybankcard']}</td>
							<td class="order">{eq name="vo.order" value="0"}用户订单{else/}商家订单{/eq}</td>
							<td>{$vo['selltruename']}</td>
							<td>{$vo['selltradeno']}</td>
							<td>{$vo['sellbank']}</td>
							<td>{$vo['sellbankcard']}</td>
							<td  class="sell_td">{eq name="vo.type" value="1"}买入{else/}卖出{/eq}</td>
							<td>{$vo.addtime|addtime}</td>
							<td  class="sell_td">
								{eq name="vo.status" value="1"}已成交{/eq}
								{eq name="vo.status" value="0"}交易中{/eq}
								{eq name="vo.status" value="2"}已撤销{/eq}
								{eq name="vo.status" value="3"}已付款{/eq}
							</td>
							<td>
								{eq name="vo.order" value="0"}
										{eq name="vo.status" value="0"}
											{eq name="group_id" value="3"}
												<a onclick="chuli({$vo.id})" class="btn btn-primary btn-xs">处理</a>
												<a onclick="chexiao({$vo.id})"  class="btn btn-primary btn-xs">撤销</a>
											{/eq}
											{eq name="group_id" value="4"}
												<a onclick="chuli({$vo.id})" class="btn btn-primary btn-xs">处理</a>
												<a onclick="chexiao({$vo.id})"  class="btn btn-primary btn-xs">撤销</a>
											{/eq}
										{/eq}
										{eq name="vo.status" value="3"}
											{eq name="group_id" value="3"}
												<a onclick="chuli({$vo.id})" class="btn btn-primary btn-xs">处理</a>
												<a onclick="chexiao({$vo.id})"  class="btn btn-primary btn-xs">撤销</a>
											{/eq}
											{eq name="group_id" value="4"}
												<a onclick="chuli({$vo.id})" class="btn btn-primary btn-xs">处理</a>
												<a onclick="chexiao({$vo.id})"  class="btn btn-primary btn-xs">撤销</a>
											{/eq}
										{/eq}
									{else/}
										{eq name="vo.status" value="0"}
											<a onclick="chuli({$vo.id})" class="btn btn-primary btn-xs">处理</a>
											<a onclick="chexiao({$vo.id})"  class="btn btn-primary btn-xs">撤销</a>
										{/eq}
										{eq name="vo.status" value="3"}
											<a onclick="chuli({$vo.id})" class="btn btn-primary btn-xs">处理</a>
											<a onclick="chexiao({$vo.id})"  class="btn btn-primary btn-xs">撤销</a>
										{/eq}
								{/eq}

							</td>
							<td>{$vo.czr}</td>
							<td>
								{eq name="vo.beizhu" value=""}
									<a onclick="c2cbz({$vo.id})"  class="btn btn-primary btn-xs">备注</a>
									{else/}
									{$vo.beizhu}
								{/eq}

							</td>
						</tr>
					{/volist}
					{else/}
					<td colspan="12" class="text-center">Oh! 暂时还没有内容!</td>
				{/notempty}
				</tbody>
			</table>
			<div class="page">
				<div>{$page}</div>
			</div>
		</div>
	</div>
</div>
{include file="public:footer" /}
<block name="script">
	<script type="text/javascript" charset="utf-8">
        $(".order").each(function () {
            console.log(typeof $(this).html());
            console.log($(this).html().length);
            console.log("用户订单".length);

            console.log($(this).html() == "用户订单");
            if($(this).html() == "用户订单"){
                $(this).parent().css({"background":"rgba(46, 204, 113, 0.11)"});
            }else{
                $(this).parent().css({"background":"rgba(255, 2, 2, 0.11)"});
            }
        });

        $(".usertype").each(function () {
            if($(this).html() == "1" || $(this).html() == "3" ){
                $(this).parent().css({"background":"white"});
            }
        });

        $(".list_tr>td").each(function () {
            $(this).mouseenter(function () {
                $(this).parent().css({"border-bottom":"3px solid #ccc"});
            }).mouseout(function () {
				$(this).parent().css({"border-bottom":"none"});
            })
        });

        //处理 交易
        function chuli(id) {
            var tradeno = $('#tradeno').val();
            layer.confirm('是否成功操作处理？', {
                btn: ['确定','还未处理'] //按钮
            }, function(){
                $.ajax({
                    url: "{:url('Trade/c2cOperate')}",
                    type: "POST",
                    data: {id: id, tradeno: tradeno},
                    success: function (data) {
                        if (data.code == 1) {
                            layer.msg(data.msg, {icon: 1});
                            window.location.reload();
                        } else {
                            layer.msg(data.msg, {icon: 2});
                            if (data.url) {
                                window.location = data.url;
                            }
                        }
                    },
                    error: function () {
                        alert('出现未知错误！');
                    }

                });
            }, function(){
                layer.msg('请处理后再确认处理', {
                    time: 3000, //3s后自动关闭
                });
            });

        }
        //港币撤销
        function chexiao(id) {
            layer.confirm('是否成功操作撤销？', {
                btn: ['确定','还未撤销'] //按钮
            }, function(){
                $.get("{:url('Trade/c2cCancel')}", {
                    id: id,
                    type:'log',
                }, function (data) {
                    if (data.code == 1) {
                        layer.msg(data.msg, {icon: 1});
                        window.location.reload();
                    } else {
                        layer.msg(data.msg, {icon: 2});
                        if (data.url) {
                            window.location = data.url;
                        }
                    }
                }, "json");

            }, function(){
                layer.msg('请撤销后再确认撤销', {
                    time: 3000, //3s后自动关闭
                });
            });
        }
        //c2c备注
        function c2cbz(id) {
            layer.prompt({title: '备注完，并确认', formType: 2}, function(text, index){
                $.post("{:url('Trade/c2cbz')}",{
                    id:id,
                    text:text,
                    type:'log'
                },function (data) {
                    if (data.code == 200){
                        layer.msg(data.msg, {icon: 1});
                        layer.close(index);
                        window.location.reload();

                    }else{
                        layer.msg(data.msg, {icon: 2});
                    }

                },'json');
            });
        }
		//导航高亮
		highlight_subnav("{:url('Trade/c2cLog')}");
	</script>
</block>