{include file="public:header" /}

<div class="autobox">
    <div class="now">
        <i class="fa fa-home fa-lg move mr5"></i><a href="/" class="">{:lang('ADDRESS')} </a> {:lang('FIND_LOGIN_PWD')}
    </div>
    <!--<div class="login_step">-->
        <!--<ul class="order clear" style="margin-left: 312px;">-->
            <!--<li><i class="fa fa-circle  fz_40 move"><span>1</span></i> {:lang('FIND_TRAN_PWD_CONFIRM_ID')}-->
                <!--<div class="order_line"></div>-->
            <!--</li>-->
            <!--<li><i class="fa fa-circle  fz_40"><span>2</span></i>{:lang('FIND_LOGIN_PWD_RESET')}-->
                <!--<div class="order_line"></div>-->
            <!--</li>-->
            <!--<li><i class="fa fa-circle  fz_40"><span>3</span></i>{:lang('FIND_TRAN_PWD_FINISHED')}</li>-->
        <!--</ul>-->
    <!--</div>-->
    <div class="reg_box ">
        <div class="mt50">
            <div id="reg_index" class="reg_wrap">
                <div class="reg_input_box reg-fb" id="moble_reg">
                    <div class="reg_title">{:lang('MOBLE')}：</div>
                    <input type="text" id="moble" class="texts w300 hg40" placeholder="{:lang('MOBLE_INPUT')}" onblur="check_moble()"/>
                </div>
                <div class="reg_input_box reg-fb">
                    <div class="reg_title">{:lang('VERIFICATION_CODE')}：</div>
                    <input id="moble_verify" type="text" class="texts w300 hg40" placeholder="{:lang('VERIFICATION_CODE_INPUT')}"/>
                    <span id="reg_moble" class="" style="position: absolute; left: 210px;top: 2px;"></span>
                </div>
                <div class="formbody">
                    <input type="button" class="btns2 w300 hg40" onclick="findpwd_up();" value="{:lang('FIND_LOGIN_PWD')}">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="all_mask_loginbox" id="step1" style="display: none;width:470px;">
    <div class="login_title pl20">{:lang('CODE_SEND')}</div>
    <form method="post" class="mask_wrap login-fb">
        <div class="login_text zin80">
            <div class="mask_wrap_title">{:lang('GRAPHIC_VERIFICATION_CODE')}：</div>
            <input type="text" id="verify" value="" class="texts" style="width: 98px; box-shadow: none;"/>
            <span style="vertical-align: -14px;line-height: 20px;">
				<img id="verify_up" class="codeImg reloadverify" src="{:captcha_src('find_passwd')}" title="{:lang('CHANGE_IT')}" onclick="this.src=this.src+'?t='+Math.random()" width="100" height="34">
			</span>
        </div>
        <div class="login_text zin80">
            <div class="mask_wrap_title">{:lang('CODE_RECEIVE')}：</div>
            <input type="button" value="{:lang('CODE_SEND')}" class="btns" onclick="moble_findpwd()" style="width: 200px;font-size: 12px;"/>
        </div>
    </form>
    <div class="mask_wrap_close" onclick="showB()"><i class="fa fa-times fz_20 move" aria-hidden="true"></i></div>
</div>
<div id="step2" class="all_mask" style="height: 0px;display: none;"></div>

<script>
    //手机国家选择
    $(
        $("#moble").intlTelInput({
            // allowDropdown: false,
            // autoHideDialCode: false,
            // autoPlaceholder: "off",
            // dropdownContainer: "body",
            // excludeCountries: ["us"],
            // formatOnDisplay: false,
            // geoIpLookup: function(callback) {
            //   $.get("http://ipinfo.io", function() {}, "jsonp").always(function(resp) {
            //     var countryCode = (resp && resp.country) ? resp.country : "";
            //     callback(countryCode);
            //   });
            // },
            initialCountry: "cn",
//             nationalMode: false,
            // onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
            // placeholderNumberType: "MOBILE",
            // preferredCountries: ['cn', 'jp'],
            // separateDialCode: true,
            utilsScript: "__PUBLIC__/home/js/utils.js"
        })
    );

    $(function () {
        var height = $(document).height();
        if (height < 1000) {
            height = 1000;
        }
        $('#step2').height(height);
    });


    function showB() {
        $("#step1").hide();
        $("#step2").hide();
    }

    function check_moble() {
        var moble = $('#moble').val();
        var dial_code_arr = $(".selected-flag").attr("title").split(" ");
        var dial_code_length = dial_code_arr.length;
        var dial_code = dial_code_arr[dial_code_length-1];
        if (moble == "" || moble == null) {
            layer.tips("{:lang('MOBLE_INPUT')}", '#moble', {tips: 2});
            return false;
        }
        $.post("/Login/check_pwdmoble.html", {
            moble: moble,
            dial_code:dial_code,
            token: ""
        }, function (data) {
            if (data.code == 1) {
                $('#reg_moble').html('<a class="move" onclick="new_send()">{:lang(\'CLICK_SEND_CODE\')}</a>');
            } else {
                layer.tips(data.msg, '#moble', {tips: 2});
                return false;
            }
        }, 'json');
    }


    function new_send() {
        $("#step1").show();
        $("#step2").show();
    }


    function moble_findpwd() {
        var moble = $("#moble").val();
        var verify = $("#verify").val();
        var dial_code_arr = $(".selected-flag").attr("title").split(" ");
        var dial_code_length = dial_code_arr.length;
        var dial_code = dial_code_arr[dial_code_length-1];
        if (moble == "" || moble == null) {
            layer.tips("{:lang('MOBLE_INPUT')}", '#moble', {tips: 2});
            return false;
        }
        if (verify == "" || verify == null) {
            layer.tips("{:lang('GRAPHIC_VERIFICATION_CODE_INPUT')}", '#verify', {tips: 2});
            return false;
        }
        $.post("/verify/moble_findpwd.html", {
            moble: moble,
            verify: verify,
            dial_code:dial_code,
            token: ""
        }, function (data) {
            if (data.code == 1) {
                layer.msg(data.msg, {icon: 1});
                $("#step1").hide();
                $("#step2").hide();
                $("#moble_verify").focus();
                $('#moble').attr("disabled", "disabled");
                var obj = $('#reg_moble');
                var wait = 60;
                var interval = setInterval(function () {
                    obj.html("<a>" + wait + "{:lang('CODE_SEND_AGAIN')}" + "</a>");
                    wait--;
                    if (wait < 0) {
                        clearInterval(interval);
                        $(".reloadverify").click();
                        $("#verify").val('');
                        obj.html('<a class="move" onclick="new_send()">{:lang(\'CLICK_SEND_AGAIN\')}</a>');
                    }
                    ;
                }, 1000);
            } else {
                $(".reloadverify").click();
                layer.msg(data.msg, {icon: 2});
                if (data.url) {
                    window.location = data.url;
                }
            }
        }, "json");
    }


    function findpwd_up() {
        var moble = $("#moble").val();
        var moble_verify = $("#moble_verify").val();
        var dial_code_arr = $(".selected-flag").attr("title").split(" ");
        var dial_code_length = dial_code_arr.length;
        var dial_code = dial_code_arr[dial_code_length-1];
        if (moble == "" || moble == null) {
            layer.tips("{:lang('MOBLE_INPUT')}", '#moble', {tips: 2});
            return false;
        }
        if (moble_verify == "" || moble_verify == null) {
            layer.tips("{:lang('VERIFICATION_CODE_INPUT')}", '#moble_verify', {tips: 2});
            return false;
        }

        $.post("/Login/findpwd.html", {
            moble: moble,
            moble_verify: moble_verify,
            dial_code:dial_code,
            token: ""
        }, function (data) {
            if (data.code == 1) {
                layer.msg(data.msg, {icon: 1});
                window.location = '/Login/findpwdconfirm';
                return false;

            } else {
                layer.msg(data.msg, {icon: 2});
                if (data.url) {
                    window.location = data.url;
                }
            }
        }, "json");
    }
</script>
<script>
    $('#index_box').addClass('active');
</script>


{include file="public:footer"/}