{include file="public:header" /}


<div class="autobox">
	<div class="now">
		<i class="fa fa-home fa-lg move mr5"></i><a href="/" class="">{:lang('ADDRESS')} </a>&gt; {:lang('REGISTERED_ACCOUNT')}	</div>
	<div class="login_step">
		<ul class="order clear">
			<li><i class="fa fa-circle  fz_40"><span>1</span></i>{:lang('REGISTERED_ACCOUNT')}				<div class="order_line"></div>
			</li>
			<li><i class="fa fa-circle  fz_40 move"><span>2</span></i>{:lang('TRAN_PWD')}				<div class="order_line"></div>
			</li>
			<li><i class="fa fa-circle  fz_40"><span>3</span></i>{:lang('REAL_NAME_VERIFY')}				<div class="order_line"></div>
			</li>
			<li><i class="fa fa-circle  fz_40"><span>4</span></i>{:lang('SUCCESS')}</li>
		</ul>
	</div>
	<div class="reg_box">
		<div class="reg_wrap pt47">
			<div class="reg_warning"><i class="fa fa-exclamation-sign mr5"></i><span>{:lang('ACCOUNT_DETAIL_TIP')}</span></div>
			<div class="reg_input_box reg-fb" style="display:none;">
				<div class="reg_title">用户名：</div>
				<input type="text" id="username" class="texts w300" placeholder="必须字母开头+数字格式">
			</div>
			<div class="reg_input_box reg-fb" style="display:none;">
				<div class="reg_title">手机：</div>
				<input type="text" id="moble" class="texts w300"/>
			</div>
			<div class="reg_input_box reg-fb">
				<div class="reg_title">{:lang('TRAN_PWD')}：</div>
				<input type="password" autocomplete="off" id="paypassword" class="texts w300"/>
			</div>
			<div class="reg_input_box reg-fb">
				<div class="reg_title">{:lang('LOGIN_PWD_CONFIRM')}：</div>
				<input type="password" autocomplete="off" id="repaypassword" class="texts w300"/>
			</div>
			<br/>
			<div class="reg_button_box">
				<input type="button" class="btns2 w300" value="{:lang('NEXT')}" onclick="paypassword_up();"/>
			</div>
		</div>
	</div>
</div>


<script>
	function paypassword_up() {
		//var username      = $("#username").val();
		//var moble         = $("#moble").val();
		var paypassword   = $("#paypassword").val();
		var repaypassword = $("#repaypassword").val();

		//if (username == "" || username == null) {
			//layer.tips("请输入用户名", '#username', {tips: 2});
			//return false;
		//}
		//if (moble == "" || moble == null) {
		//	layer.tips("请输入手机", '#moble', {tips: 2});
		//	return false;
		//}
		if (paypassword == "" || paypassword == null) {
			layer.tips("{:lang('TRAN_PWD_ENTER')}", '#paypassword', {tips: 2});
			return false;
		}
		if (repaypassword == "" || repaypassword == null) {
			layer.tips("{:lang('LOGIN_PWD_CONFIRM_INPUT')}", '#repaypassword', {tips: 2});
			return false;
		}
		if (paypassword != repaypassword) {
			layer.tips("{:lang('LOGIN_PWD_CONFIRM_WRONG')}", '#repaypassword', {tips: 2});
			return false;
		}

		$.post("/Login/upregister2.html", {
			paypassword: paypassword,
			repaypassword:repaypassword,
			token: ""
		}, function (data) {
			if (data.code == 1) {
				layer.msg(data.msg, {icon: 1});

					window.location = '/Login/truename';

			} else {
				layer.msg(data.msg, {icon: 2});
				if (data.url) {
					window.location = data.url;
				}
			}
		}, "json");
	}
</script>








{include file="public:footer" /}