@import "../../color.scss";

.user-property {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 28px 30px 18px;

  &>p {
    margin-bottom: 28px;
  }
  .u-riches {

  }
  .property-list {
    display: flex;
    justify-content: space-between;

    &>div {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 19%;
      height: 52px;
      padding: 0 0 0 23px;
      border-left: 1px dashed #eee;

      &:first-child {
        width: 25%;
        padding: 0;
        border: none;
      }

    }
    .coin-out-btn {
      display: inline-block;
      width: 130px;
      height: 39px;
      line-height: 37px;
      font-size: 14px;
      text-align: center;
      border-radius: 3px;
      border: 1px solid $orange500;

      &:hover {
        border-color: $orange600;
        transition: all .35s;
      }
    }
    .data-tit {
      font-size: 14px;
    }
    .data-tab {
      // padding-top: 20px;
      font-size: 18px;
      height: 18px;
      line-height: 18px;
      font-weight: 500;
    }
    .foz-rich {
      color: #e22;
    }
    .data-max {
      height: 27px;
      line-height: 27px;
      font-size: 27px;
    }
    .dis-btn {
      width: 134px;
      line-height: 40px;
      border-radius: 5px;
      color: #9a9a9a;
      text-align: center;
      text-transform: uppercase;
      background: #f1f1f1;

      &:hover {
        cursor: not-allowed;
      }
    }
  }
}
.fri_tis {
  margin: 20px 0 0;
  line-height: 30px;
  height: 30px;
}

.out_table {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex-grow: 1;

  .coin-in-table {
    margin: 0;
    height: 100%;
    width: 100%;
    min-height: 400px;
  }
}
.shadow_box {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.04);
}
// 弹框样式
.cointout_containt {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;

  .close_btn {
    position: absolute;
    right: 18px;
    top: 18px;
    font-size: 30px;
    color: #eaeaea;
  }

  .black_mask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: rgba(0, 0, 0, .5);
  }
  .top_tit {
    padding: 0 0 28px;
    font-size: 20px;
    text-align: center;
  }
  .accunt_part {
    padding: 0 0 10px;
    line-height: 30px;
    font-size: 16px;
  }

  .form_par, .transfer_rule {
    padding: 0 46px 16px;
  }

  .err_tips {
    box-sizing: border-box;
    // padding: 5px 0 0;
    height: 24px;
    font-size: 12px;
    text-indent: 13px;
  }
  .voice_code_line {
    padding: 5px 0 0;
    font-size: 12px;
  }

  .hv_btn {
    user-select: none;

    &:hover {
      cursor: pointer;
    }
  }
  .coin_type {
    padding: 14px 0 0;
    text-align: center;
  }
  .fore_word {
    letter-spacing: 4px;
  }
  .input_dom {
    box-sizing: border-box;
    // padding: 9px 0 0;
    height: 44px;
    border-radius: 3px;
    background: #f6f6f6;
    border: 1px solid transparent;

    input, span {
      // height: 44px;
      line-height: 44px;
    }

    span {
      display: inline-block;
      width: 89px;
      user-select: none;
      text-indent: 13px;
      color: #666;
    }
    .no_indent {
      text-indent: 2px;
    }

    input {
      padding: 0 18px;
      width: 247px;
      border: none;
      outline: none;
      background: transparent;
    }
  }
  .tr_bor {
    border: 1px solid transparent;
  }
  .err_input_par {
    border: 1px solid $red500;
  }
  .short_input {

    input {
      width: 128px
    }
  }

  .short_right {
    margin-left: 8px;
    width: 108px;
    height: 44px;
    border-radius: 3px;

    &:hover {
      cursor: pointer;
    }
  }
  .code_btn {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    border: 1px solid $orange500;
    background: transparent;
    outline-color: none;

    &:hover {
      border-color: $hoverOrange;
      color: $hoverOrange;
    }
  }
  .dis_btn {
    border-color: $disableOrange;
    color: $disableOrange;

    &:hover {
      border-color: $disableOrange;
      color: $disableOrange;
      cursor: not-allowed;
    }
  }
  .dash_line {
    margin: 0;
    border: 1px dashed #e3e3e3;
  }
  .submit_par {
    margin: 4px 0 0;
  }
  .submit_btn {
    display: block;
    width: 100%;
    height: 43px;
    line-height: 43px;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    letter-spacing: 2px;
    background: $orange500;

    &:hover {
      background: $hoverOrange;
      transition: all .3s;
    }
  }
  .loading-svg {
    left: 205px;
  }
  .dis_sub_btn {
    color: rgba(255, 255, 255, .5);
    background: $disableOrange;

    &:hover {
      background: $disableOrange;
      cursor: not-allowed;
    }
  }

  .coinout_win {
    width: 472px;
    padding: 54px 21px 26px;
    border-radius: 5px;
  }
  .transfer_rule {
    font-size: 12px;

    &>p {
      padding: 20px 0 14px;
      font-size: 14px;
    }
    &>div {
      line-height: 20px;
    }
  }
}
.hide_box {
  display: none;
}

.no-real-info {
  p {
    font-size: 14px;

    u {
      display: inline-block;
      margin-right: 6px;
      width: 12px;
      height: 12px;
      text-align: center;
      line-height: 12px;
      font-size: 9px;
      color: #f00;
      border: 1px solid #f00;
      border-radius: 50%;
    }
  }
  .white_box {
    box-sizing: border-box;
    margin: 18px 0 0;
    height: 106px;
    padding: 0 55px 0 43px;
  }
  .left_img {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 50px;
    overflow: visible;

    u {
      display: inline-block;
      margin-right: 37px;
      width: 136px;
      height: 50px;
      border-right: 1px solid #e5e5e5;
      background: url(../../../assets/no_real_icon.png) center center no-repeat;
      background-size: auto 100%;
    }
    .pwd_coinout {
      background-image: url(../../../assets/coinout_pwd_icon.png);
    }
    .real_info_ing {
      background-image: url(../../../assets/real_info_ing_icon.png);
    }
  }
  a {
    font-size: 16px;
    color: #3366cc;
    &:hover {
      opacity: .9;
      transition: all .3s;
    }
  }
}
